{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="MobileOptimized" content="375"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport min-width=375px" content="min-width=375, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Абориген</title>
	<meta property="og:url" content="https://aborigen.ru/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Абориген">
	<meta property="og:site_name" content="Aborigen">
	<meta property="og:locale" content="ru_RU">
</head>
<body>
	{% block main %}{% endblock %}
</body>
</html>