api
apicrm
/.idea
node_modules
.idea
/web.config
/*web.config
/*.log
/*.sql
.DS_Store
/*.htaccess
/.htaccess*
.htpasswd
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
daily.json
daily-eur.json
*.txt
*.pdf
*.csv
/sitemap*.xml
/*.dt
/*.tar.gz
/*.tar.gz.*
/*.gz
/*.tgz
/*.tar
/*.filepart
/*.bak
/*.old
sftp-config.json
.vscode
/*~
*/_*
/_*
!/_manager
/composer.*
/prf
sftp-config.json
robots.txt
!assets/templates/**/*.pdf
/bonds-www-pages/
/assets/images
/assets/cache
esia/
smev/
editorfiles/
manager/includes/config.inc.php
/assets/files/disclosure/*.pdf
/assets/files/
/assets/.thumbs
/tests/screen/tmp/
/files/*/*
!files/js/*.php
