$bold:  'Open Sans Bold','PT Sans', sans-serif;
$regular:  'Open Sans Regular','PT Sans', sans-serif;
$semi:  'Open Sans SemiBold','PT Sans', sans-serif;

$black: #192A3E;
$gray: #90A0B7;
$dark-blue: #334D6E;