{% extends "../layouts/layout.twig" %}

{% block main %}
	<div class="wrapper">
		{% include "../blocks/sidebar.twig" %}
		<div class="main">
			{% include "../blocks/top-bar.twig" %}
			<div class="workspace">
				{% include "../blocks/tasks.twig" %}
				
			</div>
		</div>
	</div>
{% endblock %}