{% extends "../layouts/layout.twig" %}

{% block main %}
	<div class="wrapper">
		{% include "../blocks/sidebar.twig" %}
		<div class="main">
			{# {% include "../blocks/header.twig" %} #}
		</div>
	</div>
{% endblock %}