<section class="menu">
	<ul class="menu__nav">
		<li class="menu__nav-item">
			Главная
		</li>
		<li class="menu__nav-item">
			О нас
		</li>
		<li class="menu__nav-item">
			Блог
		</li>
		<li class="menu__nav-item">
			Тарифы
		</li>
		<li class="menu__nav-item">
			Контакты
		</li>
	</ul>
	<img src="../img/main.png" class="menu__img" alt="">
</section>