.tasks
{
	background-color: #fff;
	padding: 16px 24px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}
.tasks__top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.tasks__count
{
	font-family: $semi;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: $dark_blue;
}
.tasks__time
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #6A707E;
	span
	{
		color: #FFAE00;
	}
	svg
	{
		vertical-align: middle;
	}
}
.tasks__line
{
	position: relative;
	width: 100%;
	height: 4px;
	background-color: #EBEFF2;
	border-radius: 3px;
	margin-bottom: 24px;
	&:after
	{
		content: '';
		position: absolute;
		width: calc(100% - 20%);
		height: 4px;
		left: 0;
		top: 0;
		background-color: #FFAE00;
		border-radius: 3px;
	}
}
.tasks__teg
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.01em;
	color: $black;
	margin-bottom: 23px;
}
.tasks__teg-item
{
	padding: 6px 12px;
	border-radius: 25px;
	border: 1px solid transparent;
	transition: 0.3s;
	cursor: pointer;
	&--active
	{
		border: 1px solid rgba(43, 48, 63, 0.1);
		transition: 0.3s;
	}
}
.tasks__wrap
{
	margin-bottom: 100px;
}
.tasks__wrap-item
{
	padding: 24px 16px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	&:not(:last-child)
	{
		margin-bottom: 12px;
	}
}
.tasks__item-top
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}
.tasks__item-link
{
	font-family: $semi;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-decoration-line: underline;
	color: #109CF1;
}
.tasks__item-date
{
	font-family: $semi;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #A5ABB0;
	margin-bottom: 26px;
	span
	{
		color: #4C5862;
	}
}
.tasks__item-text
{
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: #4C5862;
	padding-right: 16px;
	margin-bottom: 16px;
}
.tasks__item-bottom
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tasks__item-user-img
{
	vertical-align: middle;
	margin-right: 12px;
}
.tasks__item-user-name
{
	font-family: $semi;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #323C47;
}
.tasks__item-btn
{
	border: none;
	outline: none;
	background-color: #2ED47A;
	border-radius: 4px;
	padding: 5px 16px;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.tasks__more
{
	max-width: 160px;
	margin-left: auto;
	margin-right: auto;
	font-family: $semi;
	font-size: 13px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #109CF1;
	cursor: pointer;
}