.top-bar
{
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: #fff;
	padding: 18px 36px;
	max-height: 60px;
	border-bottom: 1px solid #EBEFF2;
	z-index: 1;
}
.top-bar__left
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	svg
	{
		margin-right: 12px;
	}
}
.top-bar__search-input
{
	border: none;
	outline: none;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
	&:focus::placeholder
	{
		opacity: 1;
		transition: 0.3s;
	}
}
.top-bar__search-input::placeholder
{
	color: $gray;
	transition: 0.3s;
}
.top-bar__search-input:focus::placeholder
{
	opacity: 0;
	transition: 0.3s;
}
.top-bar__right
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.top-bar__date
{
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.01em;
	color: $dark-blue;
	margin-right: 50px;
}
.top-bar__notific
{
	height: 24px;
	width: 24px;
	position: relative;
	&--active
	{
		&:after
		{
			content: '';
			position: absolute;
			border-radius: 8px;
			width: 8px;
			height: 8px;
			background-color: #F7685B;
			border: 1px solid #fff;
			right: 2px;
			top: 0;
		}
	}
}