.best-tours
{
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(207, 218, 230, 0.5);
}
.best-tours__main
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 42px;
	padding-bottom: 59px;
	overflow: hidden;
}
h2.best-tours__title
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin-bottom: 25px;
	color: #3A3A3A;
}
.best-tours__descr
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin: 0 auto;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	text-align: center;
	margin-bottom: 45px;
}
.best-tours__wrap
{
	position: relative;
	max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.best-tours__slider
{
	width: 100%;
	padding-left: 163px;
	.slick-arrow
	{
		top: 0;
		width: auto;
		height: auto;
		z-index: 1;
	}
	.slick-prev
	{
		left: 163px;
	}
	.slick-next
	{
		left: 234px;
	}
	.slick-list
	{
		padding: 20px;
		padding-left: 60px;
		padding-top: 36px;
	}
	.slick-slide
	{
		margin-right: 12px;
	}
	.slick-disabled
	{
		path
		{
			fill: #CCCCCC;
		}
	}
}
.best-tours__item-top
{
	position: relative;
	display: block;
	width: 350px;
	height: 146px;
	padding: 11px 12px;
	box-sizing: border-box;
	outline: none;
	margin-bottom: -24px;
	&:hover
	{
		cursor: pointer;
	}
	img
	{
		width: 100%;
		height: 100%;
		border-radius: 8px 8px 0 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
}
.best-tours__tags
{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.best-tours__tags-item
{
	padding: 4px 8px;
	background-color: #fff;
	border-radius: 8px;
	font-family: $semi;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
	&:not(:last-child)
	{
		margin-right: 7px;
	}
	span
	{
		color: #35C677;
	}
}
.best-tours__item-bottom
{
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid rgba(240, 240, 240, 0.7);
	box-shadow: 0px 0px 20px rgba(48, 48, 48, 0.15);
	border-radius: 24px 24px 8px 8px;
	padding: 15px;
}
.best-tours__item-stars
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	svg
	{
		&:not(:last-child)
		{
			margin-right: 5px;
		}
	}
}
.best-tours__item-title
{
	display: block;
	width: max-content;
	font-family: $semi;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #258EFA;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
	margin-bottom: 23px;
	&:hover
	{
		border-bottom: 1px solid #258EFA;
		transition: 0.3s;
	}
}
.best-tours__item-list
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}
.best-tours__item-prop
{
	font-family: $regular;
	font-size: 14px;
	line-height: 16px;
	color: #596C80;
	svg
	{
		vertical-align: middle;
		margin-right: 2px;
	}
	&:not(:last-child)
	{
		margin-bottom: 2px;
	}
}
.best-tours__item-button
{
	width: 100%;
	padding: 17px 72px;
	border: none;
	outline: none;
	background: #258EFA;
	border-radius: 8px;
	text-align: center;
	font-family: $regular;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}

@media (max-width: 1360px)
{
	.best-tours__slider
	{
		padding-left: 40px;
		.slick-list
		{
			padding-left: 40px;
			padding-top: 38px;
			overflow: visible;
		}
		.slick-prev
		{
			left: 80px;
		}
		.slick-next
		{
			left: 150px;
		}
	}
}

@media (max-width: 1140px)
{
	h2.best-tours__title
	{
		max-width: 540px;
		padding-left: 45px;
		padding-right: 45px;
	}
	.best-tours__descr
	{
		max-width: 690px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media (max-width: 768px)
{
	.best-tours__slider
	{
		padding-left: 28px;
		.slick-list
		{
			padding-top: 51px;
			padding-left: 0;
		}
		.slick-prev
		{
			left: 28px;
		}
		.slick-next
		{
			left: 81px;
		}
	}
	h2.best-tours__title
	{
		max-width: 290px;
	}
}