.choice
{
	background-color: #0085FF;
}
.choice__main
{
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	padding: 220px 240px;
}
h2.choice__title
{
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 12px;
	font-family: $bold;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
}
.choice__descr
{
	max-width: 650px;
	margin: 0 auto;
	margin-bottom: 12px;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}
.choice__link
{
	display: block;
	max-width: 180px;
	margin: 0 auto;
	font-family: $semi;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
	&:hover
	{
		border-bottom: 1px solid #FFFFFF;
		transition: 0.3s;
	}
}

@media (max-width: 1360px)
{
	.choice__main
	{
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media (max-width: 1140px)
{
	.choice__main
	{
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media (max-width: 768px)
{
	.choice__main
	{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	h2.choice__title
	{
		font-size: 24px;
		line-height: 28px;
		margin-left: auto;
		margin-right: auto;
	}
}