.countries
{
	background-color: #F7F7F7;
}
.countries__main
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 72px;
	padding-bottom: 146px;
}
h2.countries__title
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin-bottom: 25px;
	color: #3A3A3A;
}
.countries__descr
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin: 0 auto;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	text-align: center;
	margin-bottom: 35px;
}
.countries__row
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	overflow: scroll;
	// animation: pulse-black 2s infinite;
	// &:nth-child(even)
	// {
	// 	animation: pulse-forward 2s infinite;
	// }
}
.countries__item
{
	display: block;
	padding: 24px 25px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.15);
	border-radius: 8px;
	text-decoration: none;
	font-family: $semi;
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
	white-space: nowrap;
	&:not(:last-child)
	{
		margin-right: 32px;
	}
}

@media (max-width: 768px)
{
	.countries__main
	{
		margin-left: auto;
		margin-right: auto;
		padding-top: 72px;
		padding-bottom: 146px;
	}
	h2.countries__title
	{
		max-width: 300px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.countries__descr
	{
		padding-left: 40px;
		padding-right: 40px;
	}
}