.faq
{
	height: 616px;
	background-image: url('../img/faq-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.faq__main
{
	max-width: 804px;
	margin-left: auto;
	margin-right: auto;
	padding: 42px 293px;
	padding-bottom: 59px;
}
h2.faq__title
{
	max-width: 800px;
	margin-bottom: 25px;
	color: #3A3A3A;
}
.faq__descr
{
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	text-align: center;
	margin-bottom: 12px;
}
.faq__wrap
{
	max-width: 712px;
	margin-left: auto;
	margin-right: auto;
	overflow: overlay;
	padding: 20px;
}
.faq__wrap-item
{
	position: relative;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 20px rgba(48, 48, 48, 0.15);
	border-radius: 8px;
	padding: 26px 45px;
	z-index: 2;
	&:not(:last-child)
	{
		margin-bottom: 12px;
	}
	&--active
	{
		.faq__wrap-answer
		{
			transition: 0.5s;
			max-height: 100vh;
			padding-top: 26px;
			&:after
			{
				background-color: #303030;
				transition: 0.5s;
			}
		}
		.faq__wrap-question
		{
			svg
			{
				transform: rotate(-180deg);
				transition: 0.3s;
			}
		}
	}
	&:hover
	{
		cursor: pointer;
	}
}
.faq__wrap-question
{
	transition: 0.3s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $semi;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	svg
	{
		transition: 0.3s;
	}
}
.faq__wrap-answer
{
	box-sizing: border-box;
	position: relative;
	max-height: 0;
	transition: 0.3s;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	overflow: hidden;
	padding-top: 0;
	&:after
	{
		content: "";
		position: absolute;
		height: 2px;
		width: 50px;
		background-color: transparent;
		left: 0;
		top: 12px;
		transition: 0.3s;
	}
}
@media (max-width: 1360px)
{
	.faq__main
	{
		padding-left: 80px;
		padding-right: 80px;
	}
}
@media (max-width: 1140px)
{
	.faq__main
	{
		padding-left: 45px;
		padding-right: 45px;
	}
}


@media (max-width: 768px)
{
	.faq
	{
		height: 696px;
	}
	.faq__main
	{
		padding-left: 0;
		padding-right: 0;
	}
	h2.faq__title
	{
		max-width: 230px;
	}
	.faq__descr
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.faq__wrap-item
	{
		padding-left: 15px;
		padding-right: 15px;
	}
}