.popular
{
	background-color: #FFFFFF;
}
.popular__main
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 42px;
	padding-bottom: 59px;
	overflow: hidden;
}
h2.popular__title
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin-bottom: 25px;
	color: #3A3A3A;
}
.popular__descr
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin: 0 auto;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	text-align: center;
	margin-bottom: 12px;
}
.popular__link
{
	margin-bottom: 48px;
	color: #0090FF;
	&:hover
	{
		span
		{
			&:first-child
			{
				border-bottom: 2px solid #0090FF;
				transition: 0.3s;
			}
		}
	}
}
.popular__wrap
{
	position: relative;
}
.popular__progress
{
	position: absolute;
	top: -3px;
	left: 304px;
	display: block;
	width: 285px;
	height: 6px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #D2D2D2;
}
.popular__progress-fill
{
	display: block;
	width: 0;
	height: 100%;
	background-image: linear-gradient(to right, #258EFA, #258EFA);
	transition: 0.3s;
	border-radius: 6px;
}
.popular__slider
{
	width: 100%;
	padding-left: 163px;
	.slick-arrow
	{
		top: 0;
		width: auto;
		height: auto;
		z-index: 1;
	}
	.slick-prev
	{
		left: 163px;
	}
	.slick-next
	{
		left: 234px;
	}
	.slick-list
	{
		padding: 20px;
		padding-left: 60px;
		padding-top: 36px;
	}
	.slick-slide
	{
		margin-right: 12px;
	}
	.slick-disabled
	{
		path
		{
			fill: #CCCCCC;
		}
	}
}
.popular__item-wrap
{

	width: 230px;
	border-radius: 8px;
	box-shadow: 0 0 20px 5px rgba(48, 48, 48, 0.15);
}
.popular__item-top
{
	position: relative;
	width: 230px;
	height: 140px;
	padding: 11px 12px;
	box-sizing: border-box;
	&:hover
	{
		cursor: pointer;
	}
	img
	{
		width: 100%;
		border-radius: 8px 8px 0 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.popular__tags
{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.popular__tags-item
{
	padding: 3px 10px;
	background-color: #fff;
	border-radius: 8px;
	font-family: $semi;
	font-weight: 600;
	font-size: 8px;
	line-height: 10px;
	color: #000000;
	&:not(:last-child)
	{
		margin-right: 7px;
	}
	span
	{
		color: #35C677;
	}
}
.popular__slider-title
{
	position: relative;
	z-index: 2;
	font-family: $semi;
	font-weight: 600;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
}
.popular__cities-item
{
	display: flex;
	justify-content: space-between;
	padding: 6px 14px;
	font-family: $regular;
	font-size: 12px;
	line-height: 14px;
	color: #303030;
	&:nth-child(2n-1)
	{
		background-color: #FAFAFA;
	}
	&:nth-child(2n)
	{
		background-color: #FFFFFF;
	}
	&:last-child
	{
		border-radius: 0 0 8px 8px;
	}
	&:hover
	{
		background-color: #0090FF;
		color: #FFFFFF;
		cursor: pointer;
		transition: 0.3s;
	}
}

@media (max-width: 1360px)
{
	.popular__slider
	{
		padding-left: 40px;
		.slick-list
		{
			padding-left: 40px;
			padding-top: 38px;
			overflow: visible;
		}
		.slick-prev
		{
			left: 80px;
		}
		.slick-next
		{
			left: 150px;
		}
	}
	.popular__progress
	{
		left: 220px;
	}
}


@media (max-width: 1140px)
{
	h2.popular__title
	{
		max-width: 540px;
		padding-left: 45px;
		padding-right: 45px;
	}
	.popular__descr
	{
		max-width: 690px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media (max-width: 768px)
{
	.popular__slider
	{
		padding-left: 28px;
		.slick-list
		{
			padding-top: 51px;
			padding-left: 0;
		}
		.slick-prev
		{
			left: 28px;
		}
		.slick-next
		{
			left: 81px;
		}
	}
	.popular__progress
	{
		left: 141px;
		width: 191px;
	}
	h2.popular__title
	{
		max-width: 230px;
	}
}
