.popular
{
	background-color: #FFFFFF;
}
.popular__main
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 42px;
	padding-bottom: 59px;
}
h2.popular__title
{
	max-width: 804px;
	margin: 0 auto;
	margin-bottom: 25px;
	font-family: $bold;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #3A3A3A;
}
.popular__descr
{
	max-width: 804px;
	margin: 0 auto;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	text-align: center;
	margin-bottom: 12px;
}
.popular__link
{
	display: block;
	max-width: 240px;
	margin: 0 auto;
	margin-bottom: 48px;
	font-family: $semi;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #0090FF;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
	&:hover
	{
		border-bottom: 1px solid #0090FF;
		transition: 0.3s;
	}
}