.resorts
{
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(207, 218, 230, 0.5);
}
.resorts__main
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 42px;
	padding-bottom: 59px;
	overflow: hidden;
}
h2.resorts__title
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin-bottom: 25px;
	color: #3A3A3A;
}
.resorts__descr
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin: 0 auto;
	font-family: $regular;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	text-align: center;
	margin-bottom: 45px;
}
.resorts__wrap
{
	position: relative;
}
.resorts__slider-item
{
	outline: none;
}
.resorts__item-wrap
{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 861px;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(48, 48, 48, 0.15);
	border-radius: 24px;
	padding: 27px;
	outline: none;
}
.resorts__item-note
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #F6F6F6;
	border-radius: 8px;
	padding: 6px;
	padding-left: 14px;
	padding-right: 71px;
	font-family: $semi;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	color: #414141;
	svg
	{
		width: 24px;
		margin-right: 14px;
	}
	span
	{
		display: block;
	}
}
.resorts__item-left
{
	margin-right: 24px;
	img
	{
		width: 358px;
		height: 328px;
		border-radius: 8px;
		margin-bottom: 20px;
	}
}
.resorts__item-country
{
	font-family: $semi;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	color: #303030;
	margin-bottom: 12px;
}
.resorts__item-city
{
	font-family: $semi;
	font-weight: 600;
	font-size: 30px;
	line-height: 26px;
	color: #303030;
	margin-bottom: 20px;
}
.resorts__item-descr
{
	font-family: $regular;
	font-size: 14px;
	line-height: 20px;
	color: #303030;
	margin-bottom: 70px;
}
.resorts__item-buttons
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 13px;
	border-bottom: 1px solid #E6EEF5;
	margin-bottom: 14px;
}
.resorts__item-button
{
	font-family: $semi;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #263238;
	pointer-events: all;
	transition: 0.3s;
	outline: none;
	border: none;
	&--inactive
	{
		color: #0090FF;
		pointer-events: none;
		transition: 0.3s;
		svg
		{
			path
			{
				fill: #0090FF;
				transition: 0.3s;
			}
		}
	}
	&:not(:last-child)
	{
		margin-right: 50px;
	}
	svg
	{
		vertical-align: middle;
		path
		{
			transition: 0.3s;
		}
	}
}
.resorts__item-contents
{
	position: relative;
	height: 84px;
}
.resorts__item-content
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s;
	opacity: 1;
	font-family: $regular;
	font-size: 11px;
	line-height: 13px;
	color: #000000;
	z-index: 1;
	text-align: center;
	overflow: hidden;
	&--hide
	{
		z-index: 0;
		visibility: none;
		opacity: 0;
		transition: opacity 0.3s;
	}
}
.resorts__item-month
{
	width: 36px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}
.resorts__item-value
{
	margin-bottom: auto;
}
.resorts__item-column
{
	width: 30px;
	height: 0px;
	transition: height 0.9s;
	background-color: #D24949;
	border-radius: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
@media (max-width: 1140px)
{
	h2.resorts__title
	{
		max-width: 540px;
		padding-left: 45px;
		padding-right: 45px;
	}
	.resorts__descr
	{
		max-width: 690px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media (max-width: 1024px)
{
	.resorts__item-wrap
	{
		width: 300px;
		flex-direction: column;
		padding: 17px;
	}
	.resorts__item-left
	{
		margin-right: 0;
		margin-bottom: 18px;
		img
		{
			width: 100%;
			height: 143px;
			margin-bottom: 6px;
		}
	}
	.resorts__item-city
	{
		font-size: 24px;
		line-height: 26px;
	}
	.resorts__item-descr
	{
		margin-bottom: 24px;
	}
	.resorts__item-contents
	{
		overflow-x: scroll;
	}
	.resorts__item-content
	{
		width: 426px;
	}
}

@media (max-width: 768px)
{
	h2.resorts__title
	{
		max-width: 290px;
	}
}