.similar
{
	background-color: #F7F7F7;
}
.similar__main
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 42px;
	padding-bottom: 59px;
	overflow: hidden;
}
h2.similar__title
{
	max-width: 804px;
	padding-left: 160px;
	padding-right: 160px;
	margin-bottom: 25px;
	color: #3A3A3A;
}
.similar__wrap
{
	position: relative;
}
.similar__slider
{
	.slick-list
	{
		padding-top: 80px;
	}
}
.similar__item-wrap
{

	width: 801px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 24px;
	box-shadow: 0 0 20px 5px rgba(48, 48, 48, 0.15);
	padding: 30px;
	text-decoration: none;
}
.similar__item-left
{
	width: 359px;
	height: 235px;
	position: relative;
	margin-right: 23px;
}
.similar__item-title
{
	font-family: $semi;
	font-weight: 600;
	font-size: 34px;
	line-height: 34px;
	color: #303030;
	margin-bottom: 24px;
}
.similar__item-descr
{
	font-family: $regular;
	font-size: 14px;
	line-height: 20px;
	color: #303030;
	min-height: 100px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}

@media (max-width: 1140px)
{
	h2.similar__title
	{
		max-width: 540px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

@media (max-width: 768px)
{
	.similar__item-wrap
	{
		width: 276px;
		flex-direction: column;
		padding: 20px;
	}
	.similar__item-left
	{
		width: 100%;
		height: auto;
		position: relative;
		margin-right: 0;
		margin-bottom: 12px;
		img
		{
			width: 100%;
		}
	}
}