.reg-form
{
	padding: 24px 83px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	max-width: 50vw;
	box-sizing: border-box;
}
.reg-form__title
{
	font-family: $bold;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: -0.03em;
	color: $dark-blue;
	margin-bottom: 10px;
}
.reg-form__descr
{
	font-family: $regular;
	font-size: 18px;
	line-height: 24px;
	color: $dark-blue;
	margin-bottom: 24px;
}
.reg-form__form
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.reg-form__wr
{
	max-width: 554px;
	width: 100%;
	margin-bottom: 24px;
}
.reg-form__form-label
{
	font-family: $regular;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	background-color: #FFFFFF;
	border: 1px solid #C1BBBB;
	padding-left: 27px;
	padding-top: 12px;
	width: 100%;
	font-size: 18px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.61);
	&:not(:first-child)
	{
		border-top: none;
	}
}
.reg-form__form-input
{
	outline: none;
	border: none;
	width: 90%;
	padding: 9px 27px;
	padding-left: 0;
	font-family: $semi;
	font-size: 18px;
	line-height: 21px;
	color: #FFAE00;
	&:focus
	{

		&~span:after
		{
			content: '';
			position: absolute;
			left: -1px;
			top: -1px;
			width: 4px;
			height: 110%;
			background-color: #FFAE00;
		}
	}
}
.reg-form__form-input::placeholder
{
	font-family: $semi;
	font-size: 18px;
	line-height: 21px;
	color: #FFAE00;
}
.reg-form__form-checkbox
{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: $regular;
	margin-bottom: 40px;
}
.reg-form__form-checkbox-input
{
	display: none;
	&:not(checked) + span
	{
		display: inline-block;
		position: relative;
		width: 24px;
		height: 24px;
		border: 1px solid #C1BBBB;
		background-color: #fff;
		border-radius: 4px;
		vertical-align: middle;
		margin-right: 12px;
		left: 0;
		transition: border 0.3s;
		&:after
		{
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 4px;
			right: 1px;
			opacity: 0;
			transition: all .3s;
		}
	}
	&:checked + span
	{
		border: 1px solid #FFAE00;
		background-image: url('../img/check.svg');
		background-color: #FFAE00;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		transition: background 0.3s;
		&:after
		{
			opacity: 1;
		}
	}
}
.reg-form__form-checkbox-label
{
	font-size: 18px;
	line-height: 24px;
	color: #334D6E;
	vertical-align: middle;
	cursor: pointer;
}
.reg-form__form-submit
{
	padding: 14px 64px;
	color: #fff;
	background: #FFAE00;
	border-radius: 2px;
	border: none;
	outline: none;
	font-family: $semi;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 24px;
	span
	{
		height: 51px;
		background: #000;
		width: 20px;
	}
}
.reg-form__auth
{
	font-size: 18px;
	line-height: 24px;
	color: #334D6E;
}
.reg-form__auth-link
{
	color: #FFAE00;
	&:hover
	{
		text-decoration: none;
	}
}
.reg-form__bottom
{
	a
	{
		font-family: $regular;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.02em;
		color: rgba(51, 77, 110, 0.61);
		text-decoration: none;
		&:not(:last-child)
		{
			margin-right: 32px;
		}
	}
}