.tour-popup
{
	max-width: 1028px;
	width: 100%;
	background: #FFFFFF;
	border-radius: 16px;
	display: flex;
}
.tour-popup__left
{
	min-height: 537px;
	max-width: 768px;
	box-sizing: border-box;
	width: 100%;
	padding: 65px 45px;
	padding-top: 45px;
	padding-bottom: 50px;
}
.tour-popup__progress
{
	position: relative;
	width: calc(100% + 5px);
    height: 60px;
    overflow-x: hidden;
	margin-bottom: 60px;
	.tour-popup__line
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		circle:first-of-type
		{
			fill: #FFAE00;
		}
	}
	.tour-popup__complite
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -470px;
		transition: 1s;
	}
	.tour-popup__geo
	{
		position: absolute;
		right: 0;
    	top: 0;
	}
	.tour-popup__fly
	{
		position: absolute;
		transition: 1s;
		left: 172px;
		top: 50%;
    	transform: translateY(-50%);
	}
	&--second
	{
		.tour-popup__fly
		{
			transition: 1s;
			left: 420px;
		}
		.tour-popup__complite
		{
			left: -220px;
			transition: 1s;
		}
	}
	&--third
	{
		.tour-popup__fly
		{
			transition: 1s;
			left: calc(100% - 40px);
		}
		.tour-popup__complite
		{
			left: -1px;
			transition: 1s;
		}
		.tour-popup__geo
		{
			path
			{
				fill: #FFAE00;
			}
		}
		.tour-popup__line
		{
			circle
			{
				fill: #FFAE00;
				&:last-of-type
				{
					r: 3;
				}
			}
		}
	}
}
.tour-popup__title
{
	font-family: $semi;
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-bottom: 27px;
}
.tour-popup__wrap
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 40px;
	&--center
	{
		justify-content: center;
		margin-left: -20px;
		margin-right: -20px;
	}
}
.tour-popup__label
{
	&--checkbox
	{
		max-width: 200px;
		width: 100%;
		padding: 14px;
		background-color: #FFFFFF;
		border: 1px solid rgba(48, 48, 48, 0.3);
		box-sizing: border-box;
		border-radius: 4px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		cursor: pointer;
		&--active
		{
			border: 1px solid #FFAE00;
		}
	}
}
.tour-popup__checkbox
{
	display: none;
	&:not(checked) + span
	{
		display: inline-block;
		position: relative;
		width: 17px;
		height: 17px;
		border: 1px solid #CCC;
		background-color: #fff;
		border-radius: 3px;
		vertical-align: middle;
		left: 0;
		transition: border 0.3s;
		margin-right: 5px;
		&:after
		{
			content: '';
			display: block;
			position: absolute;
			width: 17px;
			height: 17px;
			top: 0;
			right: 0;
			background-color: #FFAE00;
			background-image: url('../img/check.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position-y: -2px;
			opacity: 0;
			transition: all .3s;
		}
	}
	&:checked + span
	{
		border: 1px solid #FFAE00;
		border-radius: 3px;
		background-repeat: no-repeat;
		background-size: contain;
		transition: background 0.3s;
		&:after
		{
			opacity: 1;
		}
	}
}
.tour-popup__input
{
	&--date
	{
		width: 84%;
	}
}
.tour-popup__number-unit
{
	position: absolute;
	top: 69%;
    transform: translateY(-50%);
    left: 88px;
	font-family: $regular;
	font-size: 13px;
	line-height: 16px;
	color: #303030;
	margin-bottom: 0 !important;
}
.tour-popup__item
{
	position: relative;
	max-width: 186px;
	width: 100%;
	font-family: $regular;
	font-size: 13px;
	line-height: 16px;
	color: #303030;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 22px;
	&--range
	{
		max-width: 360px;
		margin-right: auto;
		padding-left: 20px;
	}
	input
	{
		display: block;
		padding: 14px;
		font-family: $regular;
		font-size: 13px;
		line-height: 16px;
		color: #979797;
		border-radius: 4px;
		border: 1px solid #C1C1C1;
	}
	&--phone
	{
		input
		{
			font-family: monospace;
			width: 147px;
		}
	}
	&--number
	{
		.line
		{
			width: 186px !important;
			.input_plugin_number
			{
				text-align: right;
				width: 100%;
				display: block;
				padding: 14px;
				padding-right: 55%;
				font-family: $regular;
				font-size: 13px;
				line-height: 16px;
				color: #303030;
				border-radius: 4px;
				border: 1px solid #C1C1C1;
				cursor: default;
			}
			.plus_plugin_number
			{
				width: 24px;
				height: 24px;
				right: 24px;
				top: 50%;
				transform: translateY(-50%);
				border: none;
				background-color: #FFAE00;
				border-radius: 50px;
				font-family: $semi;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;
				&:before
				{
					content: '+';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: auto;
				}
				&--disabled
				{
					background-color: #C6C6C6;
					cursor: auto;
				}
			}
			.minus_plugin_number
			{
				width: 24px;
				height: 24px;
				left: 24px;
				top: 50%;
				transform: translateY(-50%);
				border: none;
				background: #FFAE00;
				border-radius: 50px;
				font-family: $semi;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;
				&:before
				{
					content: '-';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: auto;
				}
				&--disabled
				{
					background-color: #C6C6C6;
					cursor: auto;
				}
			}
		}
	}
	span
	{
		display: block;
		margin-bottom: 12px;
	}
	.select
	{
		font-family: $regular;
		font-size: 13px;
		font-weight: normal;
		line-height: 16px;
		color: #303030;
	}
	.select__header
	{
		height: 46px;
		font-family: $regular;
		font-size: 13px;
		line-height: 16px;
		color: #303030;
		padding: 14px;
		border-radius: 4px;
		border: 1px solid #C1C1C1;
	}
	.irs--round
	{
		.irs-line
		{
			background-color: #515151;
		}
		.irs-bar
		{
			background-color: #FFAE00;
		}
		.irs-handle
		{
			background-color: #FFAE00;
			box-shadow: 1px 1px 5px rgba(48, 48, 48, 0.1);
			border: 11px solid #ffffff;
			width: 32px;
			height: 32px;
			top: 22px;
		}
		.irs-from, .irs-to, .irs-single
		{
			font-family: $regular;
			font-size: 11px;
			line-height: 16px;
			color: #303030;
			background-color: #fff;
			&:before
			{
				display: none;
			}
		}
	}
}
.tour-popup__picker
{
	position: absolute;
	right: 14px;
	top: 45px;
}
.tour-popup__main
{
	&--hide
	{
		display: none;
	}
}
.tour-popup__buttons
{
	position: relative;
}
.tour-popup__prev
{
	position: absolute;
	vertical-align: middle;
	font-family: $semi;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
	color: #303030;
	padding: 10px;
	top: 50%;
	transform: translateY(-50%);
	svg
	{
		vertical-align: middle;
		margin-right: 9px;
	}
}
.tour-popup__next
{
	background: #FFAE00;
	border-radius: 26px;
	padding: 15px 32px !important;
	font-family: $semi;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	max-width: 178px;
	width: 100%;
	text-align: center;
	margin-right: 50%;
	margin-left: calc(50% - 86px);
}
.tour-popup__right
{
	position: relative;
	max-width: 260px;
	width: 100%;
	background-image: url('../img/popup-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	border-radius: 0 20px 20px 0;
	padding: 40px 25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.tour-popup__manager
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.tour-popup__manager-photo
{
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	img
	{
		width: 100%;
		border-radius: 50%;
	}
}
.tour-popup__manager-status
{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #35C677;
	&--offline
	{
		background-color: red;
	}
}
.tour-popup__manager-name
{
	font-family: $semi;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #303030;
}
.tour-popup__manager-position
{
	font-family: $semi;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #6C6C6C;
}
.tour-popup__descr
{
	font-family: $regular;
	font-size: 12px;
	line-height: 16px;
	color: #303030;
}
.tour-popup__disc
{
	max-width: 433px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: $regular;
	font-size: 11px;
	line-height: 16px;
	color: #303030;
	text-align: center;
	margin-bottom: 80px;
	a
	{
		color: #0090FF;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		&:hover
		{
			border-bottom: 1px solid #0090FF;
		}
	}
}
.tour-popup__steps-current
{
	font-family: $semi;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #303030;
	margin-bottom: 6px;
}
.tour-popup__steps-remains
{
	font-family: $semi;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #303030;
}

@media (max-width: 1100px)
{
	.tour-popup
	{
		max-width: 968px;
	}
	.tour-popup__right
	{
		max-width: 200px;
	}
}

@media (max-width: 1024px)
{
	.tour-popup
	{
		max-width: 375px;
		flex-direction: column-reverse;
		border-radius: 16px;
	}
	.tour-popup__right
	{
		max-width: none;
		background-image: url('../img/popup-bg-mobile.png');
		border-radius: 16px 16px 0 0;
		padding: 17px 42px;
	}
	.tour-popup__manager
	{
		margin-bottom: 30px;
	}
	.tour-popup__descr
	{
		display: none;
	}
	.tour-popup__steps
	{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.tour-popup__steps-current
	{
		margin-bottom: 0;
		margin-right: 6px;
	}
	.tour-popup__progress
	{
		display: none;
	}
	.tour-popup__left
	{
		padding: 15px 13px;
		padding-bottom: 34px;
	}
	.tour-popup__title
	{
		font-size: 16px;
		line-height: 20px;
	}
	.tour-popup__wrap
	{
		margin-left: -5px;
		margin-right: -5px;
	}
	.tour-popup__label
	{
		&--checkbox
		{
			font-size: 13px;
			line-height: 13px;
			max-width: 170px;
			margin-left: 3px;
			margin-right: 3px;
		}
	}
	.tour-popup__next
	{
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	.tour-popup__item
	{
		&--range
		{
			max-width: 260px;
		}
	}
}