<div class="popup _tour-popup tour-popup _show">
	<div class="tour-popup__left">
		<div class="tour-popup__progress tour-popup__progress--second">
			<svg class="tour-popup__line" width="678" height="10" viewBox="0 0 607 8" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="6" y1="4" x2="601" y2="4" stroke="#DCDCDC" stroke-width="2" stroke-dasharray="12 12"/><circle cx="4" cy="4" r="4" fill="#DCDCDC"/><circle cx="603" cy="4" r="4" fill="#DCDCDC"/></svg>
			<svg class="tour-popup__complite" width="678" height="10" viewBox="0 0 607 8" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="7" y1="4" x2="765" y2="4" stroke="#FFAE00" stroke-width="2"/></svg>
			<svg class="tour-popup__geo" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 0C5.50891 0 2.67188 2.83711 2.67188 6.32812C2.67188 7.50938 2.9989 8.65902 3.62113 9.65043L8.57102 17.7509C8.65547 17.888 8.78203 17.9724 8.92972 17.9935C9.13004 18.0251 9.35163 17.9408 9.46761 17.7404L14.4317 9.56602C15.0222 8.59574 15.3281 7.46722 15.3281 6.32812C15.3281 2.83711 12.4911 0 9 0ZM9 9.49219C7.2282 9.49219 5.83594 8.05781 5.83594 6.32812C5.83594 4.58786 7.25973 3.16406 9 3.16406C10.7403 3.16406 12.1641 4.58786 12.1641 6.32812C12.1641 8.04727 10.7929 9.49219 9 9.49219Z" fill="#9F9F9F"/><path d="M9 0V3.16406C10.7403 3.16406 12.1641 4.58786 12.1641 6.32812C12.1641 8.04727 10.7929 9.49219 9 9.49219V17.9997C9.17996 18.0039 9.36503 17.9176 9.46758 17.7404L14.4316 9.56602C15.0222 8.59574 15.3281 7.46722 15.3281 6.32812C15.3281 2.83711 12.4911 0 9 0Z" fill="#B7B7B7"/></svg>
			<svg class="tour-popup__fly" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0503066 28.8817L3.28028 20L0.0503074 11.1183C-0.0430253 10.8633 -0.00469309 10.5767 0.150306 10.355C0.306971 10.1333 0.561969 10 0.833634 10L3.24361 10C4.11027 10 4.9036 10.44 5.3636 11.175L8.79524 16.6667L19.6018 16.6667L13.3919 1.14333C13.1769 0.596665 13.5769 -1.15499e-06 14.1669 -1.1292e-06L15.7635 -1.05941e-06C17.1218 -1.00004e-06 18.3985 0.663332 19.1768 1.77667L29.6001 16.6667L36.6667 16.6667C38.505 16.6667 40 18.1617 40 20C40 21.8383 38.505 23.3333 36.6667 23.3333L29.6001 23.3333L19.1785 38.2233C18.3985 39.3367 17.1218 40 15.7635 40L14.1669 40C13.5752 40 13.1735 39.3983 13.3935 38.8567L19.6035 23.3333L8.7969 23.3333L5.3636 28.825C4.90194 29.56 4.11027 30 3.24361 30L0.833633 30C0.561968 30 0.30697 29.8667 0.150305 29.645C-0.00469391 29.4217 -0.043026 29.135 0.0503066 28.8817V28.8817Z" fill="#FFAE00"/></svg>
		</div>
		<div class="tour-popup__main tour-popup__main--hide tour-popup__main--first">
			<h3 class="tour-popup__title">
				Какие страны вы хотели бы посетить?
			</h3>
			<div class="tour-popup__wrap">
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Европа
				</label>
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Азия
				</label>
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Америка
				</label>
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Африка
				</label>
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Австралия
				</label>
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Еще не выбрал(а)
				</label>
				<label class="tour-popup__label tour-popup__label--checkbox">
					<input type="checkbox" class="tour-popup__checkbox">
					<span></span>
					Введите свое... |
				</label>
			</div>
			<div class="tour-popup__buttons">
				<button class="tour-popup__prev g-btn">
					<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L2 8L9 15" stroke="black" stroke-width="2"/></svg>
					<span>Назад</span>
				</button>
				<button class="tour-popup__next g-btn" onclick="Abo.nextStep(this);">
					Далее
				</button>
			</div>
		</div>
		<div class="tour-popup__main tour-popup__main--second">
			<h3 class="tour-popup__title">
				Выберите количество ночей и даты вылета
			</h3>
			<div class="tour-popup__wrap tour-popup__wrap--center">
				<label class="tour-popup__item">
					<span>Дата вылета</span>
					<input type="text" class="tour-popup__input datepicker-here tour-popup__input--date"
						data-range="true"
						data-multiple-dates-separator=" - "
						placeholder = "07.05.2021 - 14.05.2021"
					>
					<svg class="tour-popup__picker" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-0.000976562 3.2V4.8V14.4C-0.000976562 15.2824 0.716623 16 1.59902 16H12.799C13.6814 16 14.399 15.2824 14.399 14.4V4.8V3.2C14.399 2.3176 13.6814 1.6 12.799 1.6H11.199V0H9.59902V1.6H4.79902V0H3.19902V1.6H1.59902C0.716623 1.6 -0.000976562 2.3176 -0.000976562 3.2ZM12.8006 14.4H1.59902V4.8H12.799L12.8006 14.4Z" fill="#979797"/></svg>
				</label>
				<label class="tour-popup__item tour-popup__item--number">
					<span>Выберите количество ночей</span>
					<input type="number" value="7" class="tour-popup__number">
					<span class="tour-popup__number-unit">ночей</span>
				</label>
				<label class="tour-popup__item">
					<span>Кто едет?</span>
					<div class="select">
						<div class="select__header">
							<div class="select__current">
								2 взрослых
							</div>
							<svg class="select__icon" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.73455 7.20482C6.33863 7.63342 5.66137 7.63342 5.26545 7.20482L0.622375 2.17855C0.0307251 1.53807 0.484997 0.499999 1.35693 0.499999L10.6431 0.5C11.515 0.5 11.9693 1.53807 11.3776 2.17855L6.73455 7.20482Z" fill="#303030"/></svg>
						</div>
						<div class="select__body select__body--close">
							<div class="select__item">
								1 взрослый
							</div>
							<div class="select__item">
								2 взрослых
							</div>
							<div class="select__item">
								3 взрослых
							</div>
							<div class="select__item">
								4 взрослых
							</div>
						</div>
					</div>
				</label>
				<label class="tour-popup__item tour-popup__item--range">
					<span>Планируемый бюджет</span>
					<input type="text" class="js-range-slider" name="my_range" value="" />
				</label>
			</div>
			<div class="tour-popup__buttons">
				<button class="tour-popup__prev g-btn" onclick="Abo.prevStep(this)">
					<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L2 8L9 15" stroke="black" stroke-width="2"/></svg>
					Назад
				</button>
				<button class="tour-popup__next g-btn" onclick="Abo.nextStep(this);">
					Далее
				</button>
			</div>
		</div>
		<div class="tour-popup__main tour-popup__main--third tour-popup__main--hide">
			<h3 class="tour-popup__title">
				Заполните форму для обратной связи
			</h3>
			<div class="tour-popup__wrap tour-popup__wrap--center">
				<label class="tour-popup__item">
					<span>Ваше имя</span>
					<input type="text" class="tour-popup__input" placeholder="Ваше имя">
				</label>
				<label class="tour-popup__item tour-popup__item--phone">
					<span>Номер телефона</span>
					<input type="text" class="tour-popup__input" placeholder="+7 (999)-999-99-99">
				</label>
				<label class="tour-popup__item">
					<span>Почта</span>
					<input type="text" class="tour-popup__input" placeholder="example@mail.ru">
				</label>
			</div>
			<div class="tour-popup__disc">
				Нажимая на кнопку "Получить туры", я принимаю положения политики конфиденциальности и даю свое согласие на обработку <a href="#">персональных данных</a>
			</div>
			<div class="tour-popup__buttons">
				<button class="tour-popup__prev g-btn" onclick="Abo.prevStep(this);">
					<svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1L2 8L9 15" stroke="black" stroke-width="2"/></svg>
					Назад
				</button>
				<input type="submit" class="tour-popup__next g-btn" value="Отправить форму">
			</div>
		</div>
	</div>
	<div class="tour-popup__right">
		<div onclick="Abo.popups.close('._tour-popup')" class="popup-close tour-popup-close">
			<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.42139 9.81206L1.72075 16.5127L0.421387 15.2133L7.12202 8.51269L0.421387 1.81206L1.72075 0.512695L8.42139 7.21333L15.122 0.512695L16.4214 1.81206L9.72075 8.51269L16.4214 15.2133L15.122 16.5127L8.42139 9.81206Z" fill="#9F9F9F"/></svg>
		</div>
		<div class="tour-popup__manager">
			<div class="tour-popup__manager-photo">
			<img src="img/manager.jpg" alt="">
				<span class="tour-popup__manager-status"></span>
			</div>
			<div class="tour-popup__manager-text">
				<div class="tour-popup__manager-name">
					Екатерина
				</div>
				<div class="tour-popup__manager-position">
					Персональный менеджер
				</div>
			</div>
		</div>
		<div class="tour-popup__descr">
			Расскажите какая страна <br>вас сейчас интересует, <br>а мы позаботимся <br>о том, чтобы вы ничего <br>не пропустили
		</div>
		<div class="tour-popup__steps">
			<div class="tour-popup__steps-current">
				1 шаг
			</div>
			<div class="tour-popup__steps-remains">
				Осталось всего 4
			</div>
		</div>
	</div>
</div>