$bold:  'Poppins Bold','PT Sans', sans-serif;
$regular:  'Poppins Regular','PT Sans', sans-serif;
$semi:  'Poppins SemiBold','PT Sans', sans-serif;

$black: #192A3E;
$gray: #90A0B7;
$dark-blue: #334D6E;