<section class="tasks">
	<div class="tasks__top">
		<div class="tasks__count">
			8 task completed out of 10
		</div>
		<div class="tasks__time">
			Показать за:
			<span>Месяц</span>
			<svg width="7" height="3" viewBox="0 0 7 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z" fill="#FFAE00"/></svg>
		</div>
	</div>
	<div class="tasks__line"></div>
	<div class="tasks__teg">
		Отобразить по тегам:
		<span class="tasks__teg-item">
			<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="3" stroke="#2ED47A" stroke-width="2"/></svg>
			В работе
		</span>
		<span class="tasks__teg-item tasks__teg-item--active">
			<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="3" stroke="#FFB946" stroke-width="2"/></svg>
			Обработаны
		</span>
		<span class="tasks__teg-item">
			<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="3" stroke="#F7685B" stroke-width="2"/></svg>
			Завершены
		</span>
	</div>
	<div class="tasks__wrap">
		<div class="tasks__wrap-item">
			<div class="tasks__item-top">
				<svg width="75" height="18" viewBox="0 0 75 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.98103 1.44914V7.79363C2.79424 7.79363 1.94382 7.24194 1.94382 4.75931C1.94382 2.27668 2.79424 1.44914 4.98103 1.44914ZM2.30828 8.89703L0 14.8278H1.45786C2.18679 13.8623 3.40168 9.3108 3.88763 9.17287H4.98103V14.8278H6.3174V0.0698967C-0.728931 -0.757647 0 6.00062 1.21489 7.79363C1.70084 8.34533 2.06531 8.48325 2.30828 8.89703Z" fill="#FF0000"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.6439 5.72471H18.2233V13.4484H15.7935C16.401 10.69 16.5224 8.89696 16.6439 5.72471ZM13.8497 13.4484V16.8965H15.0646L15.1861 14.8277H18.9522L19.0737 16.8965H20.1671L20.2886 13.4484C19.4382 13.4484 19.5597 13.8622 19.5597 11.7934V4.4834H15.3076C15.3076 6.96603 15.3076 10.552 14.5786 13.0347C14.4571 13.5864 14.4571 13.4484 13.8497 13.4484Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.47618 10.1383L11.663 10.2762C11.663 11.2417 11.5415 14.0001 11.663 14.8277H12.9993C13.2423 13.5864 12.9993 6.27641 12.9993 4.4834H11.663V8.75904H9.47618V4.4834H8.1398V14.8277H9.47618V10.1383Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.7184 8.62129C22.3539 5.03527 25.1482 4.20773 24.9052 8.62129H22.7184ZM25.9986 13.0349C24.0548 13.8624 22.7184 14.2762 22.5969 10.0005H26.363C27.3349 4.20773 22.3539 1.86302 21.382 7.5179C20.1671 14.0003 23.3258 16.483 26.363 14.1382L25.9986 13.0349Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M33.1664 14.8277C32.9234 14.0001 32.316 12.8968 31.9515 12.0692C30.4936 9.03489 30.2507 10.0004 31.7085 6.96603C32.073 6.13848 32.559 5.31094 32.8019 4.4834H31.587C30.8581 4.89717 30.0077 8.20734 29.2788 9.03489V4.4834H27.8209C27.8209 6.27641 27.6994 13.5864 27.9424 14.8277C30.0077 14.8277 29.0358 15.3794 29.2788 9.86243C29.4003 10.1383 29.4003 10.0004 29.5217 10.2762L29.6432 10.552C30.1292 11.5175 31.4656 14.1381 31.587 14.8277H33.1664Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M42.764 14.8277H43.6145V7.24187C44.2219 7.79356 47.5021 14.5518 47.5021 14.8277H48.5955C48.231 13.8622 45.1938 8.34526 44.5864 6.96602C44.9508 5.58678 47.7451 1.58699 48.231 0.0698242H47.5021C46.6517 1.31114 44.2219 6.2764 43.6145 6.82809V0.0698242H42.764V14.8277Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M58.1931 5.31096C60.8658 3.65588 61.2303 13.0347 59.0435 14.1381C58.1931 14.5519 57.3427 14.0002 56.9782 13.3105C56.7352 12.7589 56.8567 10.9658 56.8567 10.2762C56.8567 7.65567 56.6137 6.27643 58.1931 5.31096ZM56.8567 14.1381C57.3427 14.5519 57.7071 15.1036 58.8005 14.9656C59.5295 14.8277 60.0154 14.4139 60.3799 13.8622C60.9873 12.6209 61.3518 10.8279 61.2303 9.17283C61.1088 2.96626 57.8286 3.51795 56.8567 6.00058L56.7352 4.48342H56.0063V18H56.8567V14.1381Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38.3904 14.1382L38.1474 13.0348C37.1755 13.4486 36.3251 14.1382 35.4746 13.0348C34.9887 12.2073 34.8672 10.828 34.8672 9.72464C34.8672 8.48333 34.9887 7.10409 35.5961 6.27654C36.4465 5.03523 37.1755 5.72485 38.1474 6.27654L38.2689 4.8973C36.6895 3.51807 33.2878 4.20769 33.4093 9.72464C33.4093 16.345 37.4185 15.2416 38.3904 14.1382Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M53.2121 9.44864C53.2121 10.9658 53.4551 12.0692 52.8476 13.1726C52.3617 14.0001 51.2683 14.8277 50.4179 13.7243C49.9319 12.8967 49.8104 11.2416 50.2964 10.2762C50.7823 9.44864 52.1187 9.17279 53.2121 9.44864ZM49.6889 6.13846C50.2964 5.58677 51.2683 4.48338 52.4832 5.31092C53.2121 5.72469 53.3336 7.37978 53.2121 8.62109C51.8757 8.75902 50.9038 8.62109 50.0534 9.44864C48.717 10.8279 48.8385 14.6897 50.9038 14.9656C52.3617 15.2414 52.7261 14.138 53.2121 13.4484C53.4551 14.6897 53.2121 14.8277 54.184 14.8277C54.184 13.7243 54.0625 12.0692 54.0625 10.8279C54.0625 8.34525 54.5485 5.03507 52.4832 4.34545C51.1468 3.93168 50.2964 4.6213 49.5674 5.173L49.6889 6.13846Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M69.1269 9.03488C70.9492 9.03488 71.9211 9.44866 71.9211 11.5175C71.7997 13.5864 70.9492 14.0001 69.1269 14.0001V9.03488ZM68.2765 14.8277C70.2203 14.8277 72.7716 14.9656 72.6501 11.3796C72.6501 8.75904 71.1922 8.34527 69.1269 8.34527V4.4834H68.2765V14.8277Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M61.9591 5.03511L64.0244 5.17304V14.8277H64.8748V5.31096L66.9401 5.17304V4.48342C65.9682 4.34549 63.0525 4.48342 61.9591 4.48342V5.03511Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M73.6221 14.8277H74.4725V4.4834H74.108H73.6221V14.8277Z" fill="black"/></svg>
				<a href="#" class="tasks__item-link">Ссылка на  отзыв</a>
			</div>
			<div class="tasks__item-date">
					Дата:
				<span>
					Январь 21, 2021
				</span>
			</div>
			<div class="tasks__item-text">
				Благодарю за вывеску! Работа была выполнена оперативно , вывеска очень красивая!
			</div>
			<div class="tasks__item-bottom">
				<div class="tasks__item-user">
					<img class="tasks__item-user-img" src="../img/user-1.png" alt="">
					<span class="tasks__item-user-name">Екатерина Я.</span>
				</div>
				<button class="tasks__item-btn">
					Ответить
				</button>
			</div>
		</div>
		<div class="tasks__wrap-item">
			<div class="tasks__item-top">
				<svg width="99" height="18" viewBox="0 0 99 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M58.0086 10.7626L61.3482 9.37517C61.1643 8.90891 60.6125 8.58302 59.9624 8.58302C59.1267 8.58302 57.9667 9.3187 58.0086 10.7626ZM61.9274 12.1065L63.2003 12.9552C62.7906 13.5634 61.8 14.6104 60.0882 14.6104C57.9667 14.6104 56.434 12.9681 56.434 10.8756C56.434 8.65239 57.9812 7.13908 59.9043 7.13908C61.8435 7.13908 62.7906 8.68143 63.1019 9.51714L63.2713 9.94145L58.2764 12.0065C58.6588 12.7567 59.2525 13.1391 60.0882 13.1391C60.9223 13.1391 61.5031 12.7277 61.9274 12.1065ZM53.8333 14.3846H55.4741V3.40421H53.8333V14.3846ZM51.1552 10.8885C51.1552 9.57361 50.2775 8.61045 49.1595 8.61045C48.0285 8.61045 47.0799 9.57361 47.0799 10.8885C47.0799 12.1904 48.0285 13.1391 49.1595 13.1391C50.2775 13.1391 51.1552 12.1904 51.1552 10.8885ZM52.5975 7.36656V14.0732C52.5975 16.832 50.9712 17.9646 49.0465 17.9646C47.2348 17.9646 46.1457 16.7481 45.736 15.7575L47.1654 15.1622C47.4203 15.7704 48.043 16.4916 49.0481 16.4916C50.2791 16.4916 51.0438 15.7285 51.0438 14.2991V13.7618H50.9874C50.6195 14.2152 49.9113 14.6104 49.0207 14.6104C47.1525 14.6104 45.4407 12.9826 45.4407 10.8885C45.4407 8.77985 47.1525 7.13908 49.0207 7.13908C49.9129 7.13908 50.6195 7.53435 50.9874 7.97318H51.0438V7.36495C51.0422 7.36656 52.5975 7.36656 52.5975 7.36656ZM34.6878 10.8756C34.6878 9.53005 33.7295 8.61206 32.6179 8.61206C31.5063 8.61206 30.548 9.53166 30.548 10.8756C30.548 12.205 31.5063 13.1391 32.6179 13.1391C33.7279 13.1391 34.6878 12.205 34.6878 10.8756ZM36.2979 10.8756C36.2979 13.0261 34.6443 14.6104 32.6163 14.6104C30.5883 14.6104 28.9347 13.0261 28.9347 10.8756C28.9347 8.71047 30.5883 7.14069 32.6163 7.14069C34.6459 7.14069 36.2979 8.71047 36.2979 10.8756ZM42.94 10.8756C42.94 9.53005 41.9817 8.61206 40.8701 8.61206C39.7585 8.61206 38.8002 9.53166 38.8002 10.8756C38.8002 12.205 39.7585 13.1391 40.8701 13.1391C41.9817 13.1391 42.94 12.205 42.94 10.8756ZM44.5518 10.8756C44.5518 13.0261 42.8981 14.6104 40.8701 14.6104C38.8422 14.6104 37.1885 13.0261 37.1885 10.8756C37.1885 8.71047 38.8422 7.14069 40.8701 7.14069C42.8981 7.14069 44.5518 8.71047 44.5518 10.8756ZM22.6281 14.6104C19.4305 14.6104 16.7427 12.0065 16.7427 8.80889C16.7427 5.61125 19.4321 3.00732 22.6297 3.00732C24.3996 3.00732 25.658 3.70106 26.6066 4.60776L25.4886 5.7258C24.8094 5.08853 23.8898 4.59324 22.6297 4.59324C20.2952 4.59324 18.4689 6.476 18.4689 8.8105C18.4689 11.145 20.2952 13.0261 22.6297 13.0261C24.1431 13.0261 25.0062 12.4179 25.5596 11.8662C26.0129 11.4144 26.3098 10.7626 26.4227 9.87208H22.6297V8.28778H27.9634C28.0215 8.57011 28.0489 8.91053 28.0489 9.27837C28.0489 10.4674 27.723 11.9388 26.6776 12.9858C25.6564 14.0458 24.3544 14.6104 22.6281 14.6104Z" fill="#5F6368"/><path d="M67.1476 14.2813V4.53394H68.4L71.7899 10.4695H71.8443L75.2341 4.53394H76.4866V14.2813H75.2341V8.49552L75.2886 6.86188H75.2341L72.1847 12.2121H71.4495L68.4 6.86188H68.3456L68.4 8.49552V14.2813H67.1476Z" fill="black"/><path d="M80.3392 14.4992C79.6313 14.4992 79.0391 14.295 78.5626 13.8866C78.0861 13.4781 77.8479 12.9404 77.8479 12.2665C77.8479 11.5382 78.127 10.9732 78.692 10.558C79.2569 10.1428 79.9512 9.93858 80.7748 9.93858C81.51 9.93858 82.1158 10.0747 82.5855 10.347V10.1564C82.5855 9.66631 82.4153 9.27151 82.0818 8.97882C81.7482 8.68612 81.333 8.53637 80.8429 8.53637C80.4822 8.53637 80.1486 8.62486 79.8559 8.79503C79.5632 8.9652 79.359 9.20344 79.2501 9.50294L78.1066 9.01285C78.2631 8.61125 78.5626 8.24368 79.0187 7.90334C79.4747 7.56299 80.0737 7.39282 80.8157 7.39282C81.6665 7.39282 82.3745 7.64468 82.9394 8.14158C83.5044 8.63848 83.7835 9.34639 83.7835 10.2517V14.2814H82.5855V13.3556H82.531C82.0341 14.118 81.299 14.4992 80.3392 14.4992ZM80.5434 13.3556C81.0607 13.3556 81.5304 13.165 81.9524 12.777C82.3745 12.389 82.5855 11.933 82.5855 11.4089C82.2315 11.1162 81.7006 10.9732 80.9927 10.9732C80.3869 10.9732 79.924 11.1026 79.6177 11.368C79.3114 11.6335 79.1548 11.9398 79.1548 12.2938C79.1548 12.6205 79.2978 12.8791 79.5768 13.0697C79.8559 13.2603 80.1827 13.3556 80.5434 13.3556Z" fill="black"/><path d="M88.6641 14.4992C88.1536 14.4992 87.6976 14.3903 87.296 14.1724C86.8943 13.9546 86.588 13.6823 86.3906 13.3556H86.3362L86.3906 14.2814V17.2219H85.1382V7.61064H86.3362V8.53637H86.3906C86.588 8.20964 86.8943 7.93737 87.296 7.71955C87.6976 7.50173 88.1536 7.39282 88.6641 7.39282C89.5286 7.39282 90.2705 7.73316 90.8968 8.41385C91.523 9.09453 91.8361 9.93858 91.8361 10.946C91.8361 11.9534 91.523 12.7975 90.8968 13.4781C90.2705 14.1588 89.5286 14.4992 88.6641 14.4992ZM88.4599 13.3556C89.0385 13.3556 89.5422 13.1378 89.9574 12.6954C90.3726 12.2529 90.5837 11.6743 90.5837 10.946C90.5837 10.2177 90.3726 9.63908 89.9574 9.19664C89.5422 8.75419 89.0385 8.53637 88.4599 8.53637C87.8677 8.53637 87.3708 8.75419 86.9556 9.18983C86.5404 9.62547 86.3362 10.2109 86.3362 10.946C86.3362 11.6811 86.5404 12.2665 86.9556 12.7022C87.3708 13.1378 87.8745 13.3556 88.4599 13.3556Z" fill="black"/><path d="M95.4641 14.4992C94.7221 14.4992 94.1027 14.3154 93.6194 13.9546C93.1361 13.5939 92.7753 13.1378 92.5507 12.5933L93.667 12.1304C94.021 12.9676 94.6268 13.3828 95.4777 13.3828C95.8657 13.3828 96.1856 13.2944 96.4374 13.1242C96.6893 12.954 96.8118 12.7226 96.8118 12.4435C96.8118 12.0079 96.5055 11.7152 95.8997 11.5586L94.5519 11.2319C94.1231 11.123 93.7215 10.9188 93.3403 10.6125C92.9591 10.3062 92.7685 9.89774 92.7685 9.38042C92.7685 8.78822 93.0272 8.31174 93.5513 7.94418C94.0755 7.57661 94.6949 7.39282 95.4096 7.39282C96.0018 7.39282 96.5259 7.52896 96.9888 7.79443C97.4517 8.05989 97.7852 8.44788 97.9826 8.94478L96.8935 9.39403C96.6484 8.80184 96.1379 8.50914 95.3688 8.50914C94.9944 8.50914 94.6813 8.58402 94.4294 8.74058C94.1776 8.89713 94.0482 9.10134 94.0482 9.36681C94.0482 9.74799 94.3409 10.0067 94.9331 10.1428L96.2536 10.4559C96.8799 10.5988 97.3427 10.8507 97.6422 11.2047C97.9417 11.5586 98.0915 11.9602 98.0915 12.4027C98.0915 13.0017 97.8465 13.4986 97.3564 13.9002C96.8663 14.295 96.2332 14.4992 95.4641 14.4992Z" fill="black"/><path d="M3.45734 13.3375C4.01394 14.0329 4.57861 14.9041 4.87546 15.4316C5.23685 16.1173 5.38527 16.5803 5.6547 17.4063C5.81281 17.8613 5.96124 18.0001 6.27584 18.0001C6.61948 18.0001 6.77597 17.7677 6.89697 17.4063C7.14704 16.6271 7.34225 16.035 7.64717 15.4687C8.24895 14.3846 9.01044 13.4198 9.75096 12.4937C9.95424 12.234 11.253 10.7045 11.837 9.49131C11.837 9.49131 12.5501 8.16515 12.5501 6.31142C12.5501 4.5787 11.8451 3.37354 11.8451 3.37354L9.80582 3.92046L8.56355 7.18262L8.25701 7.62791L8.19248 7.7118L8.10859 7.81344L7.96984 7.97961L7.76656 8.18289L6.66304 9.08152L3.91068 10.6755L3.45734 13.3375Z" fill="#34A853"/><path d="M0.61142 9.26868C1.28741 10.8078 2.57646 12.1517 3.45735 13.3375L8.11989 7.81345C8.11989 7.81345 7.46165 8.67497 6.27585 8.67497C4.94968 8.67497 3.8752 7.61824 3.8752 6.28401C3.8752 5.36602 4.42212 4.73682 4.42212 4.73682L1.25998 5.58059L0.61142 9.26868Z" fill="#FBBC04"/><path d="M8.17474 0.287109C9.72193 0.787244 11.0481 1.8343 11.8451 3.3831L8.11827 7.82301C8.11827 7.82301 8.66519 7.18413 8.66519 6.27582C8.66519 4.91255 7.5165 3.88485 6.27423 3.88485C5.09649 3.88485 4.4205 4.73831 4.4205 4.73831V1.93755L8.17474 0.287109Z" fill="#4285F4"/><path d="M1.46335 2.24254C2.3894 1.13902 4.01242 0 6.25496 0C7.33912 0 8.16354 0.287174 8.16354 0.287174L4.4206 4.73676H1.76988L1.46335 2.24254Z" fill="#1A73E8"/><path d="M0.611455 9.2686C0.611455 9.2686 0 8.05376 0 6.30329C0 4.64478 0.648561 3.19761 1.47298 2.2522L4.43022 4.7448L0.611455 9.2686Z" fill="#EA4335"/></svg>
				<a href="#" class="tasks__item-link">Ссылка на  отзыв</a>
			</div>
			<div class="tasks__item-date">
					Дата:
				<span>
					Январь 22, 2021
				</span>
			</div>
			<div class="tasks__item-text">
				Очень понравилась работа ребят на всех этапах ,всегда на связи ,помогли разобраться с эскизом ,размерами ,нормами и тд,качественно выполнена работа, монтаж, подстветка. Радует нас и наших пациентов! Спасибо большое
			</div>
			<div class="tasks__item-bottom">
				<div class="tasks__item-user">
					<img class="tasks__item-user-img" src="../img/user-2.png" alt="">
					<span class="tasks__item-user-name">Лали</span>
				</div>
				<button class="tasks__item-btn">
					Ответить
				</button>
			</div>
		</div>
	</div>
	<div class="tasks__more">
		Смотреть все
	</div>
</section>