<section class="about">
	<div class="about__main">
		<h2 class="about__title">
			Удобный сервис для планирования путешествий
		</h2>
		<div class="about__wrap">
			<div class="about__wrap-item">
				<img src="../../img/heart.png" alt="heart" class="about__wrap-img">
				<div class="about__wrap-title">
					Подходим для всех
				</div>
				<div class="about__wrap-descr">
					Покупайте тур онлайн у надежного поставщика  или выбирайте проверенное турагентство в вашем городе
				</div>
			</div>
			<div class="about__wrap-item">
				<img src="../../img/watch.png" alt="watch" class="about__wrap-img">
				<div class="about__wrap-title">
					Время - деньги!
				</div>
				<div class="about__wrap-descr">
					С нами вы быстро найдете тур под ваши запросы
				</div>
			</div>
			<div class="about__wrap-item">
				<img src="../../img/like.png" alt="like" class="about__wrap-img">
				<div class="about__wrap-title">
					13 лет успешной работы
				</div>
				<div class="about__wrap-descr">
					С 2008 года помогаем пользователям выгодно путешествовать по всему миру
				</div>
			</div>
		</div>
	</div>
</section>