<section class="best-tours">
	<div class="best-tours__main">
		<h2 class="best-tours__title title">
			Выбираем самые лучшие туры в Тайланд в 2019 году
		</h2>
		<div class="best-tours__descr">
			Мы подобрали только проверенные отели для незабываемого отпуска — вас уже ждут золотистые пляжи и роскошное турецкое море!
		</div>
		<div class="best-tours__wrap">
			<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				<span class="progress-fill"></span>
			</div>
			<div class="best-tours__slider slider">
				<div class="best-tours__slider-item">
					<div class="best-tours__item-wrap">
						<a class="best-tours__item-top">
							<img src="../../img/slider-1.jpg" alt="">
							<div class="best-tours__tags">
								<div class="best-tours__tags-item">🇩🇴 Доминикана</div>
							</div>
						</a>
						<div class="best-tours__item-bottom">
							<div class="best-tours__item-stars">
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
							</div>
							<a href="#" class="best-tours__item-title">
								Adalin Resort Hotel
							</a>
							<ul class="best-tours__item-list">
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00001 1.33325C5.05935 1.33325 2.66668 3.72592 2.66668 6.66325C2.64735 10.9599 7.79735 14.5226 8.00001 14.6666C8.00001 14.6666 13.3527 10.9599 13.3333 6.66659C13.3333 3.72592 10.9407 1.33325 8.00001 1.33325ZM8.00001 9.33325C6.52668 9.33325 5.33335 8.13992 5.33335 6.66659C5.33335 5.19325 6.52668 3.99992 8.00001 3.99992C9.47335 3.99992 10.6667 5.19325 10.6667 6.66659C10.6667 8.13992 9.47335 9.33325 8.00001 9.33325Z" fill="#596C80"/></svg>
									<span>Ланта, Тайланд</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.99998 12H14V13.3333H1.99998V12ZM14.3393 5.68467C14.152 5.122 13.5446 4.818 12.982 5.00533L9.99998 6L4.66665 4L3.33331 4.66667L7.33331 7.33333L4.66665 8.66667L1.99998 7.33333L1.33331 8L3.99998 10.6667L13.698 7.03C14.2386 6.82667 14.522 6.23333 14.3393 5.68467Z" fill="#596C80"/></svg>
									<span>Вылет 27 апреля 2021 из Москвы</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.828 8.69669C13.3766 8.81669 12.9106 8.87736 12.4433 8.87736C11.02 8.87736 9.68332 8.32403 8.67932 7.32003C7.34065 5.98136 6.81332 4.00869 7.30332 2.17136C7.36465 1.94136 7.29865 1.69603 7.13065 1.52803C6.96265 1.36003 6.71798 1.29203 6.48665 1.35603C5.35198 1.65936 4.31732 2.25469 3.49398 3.07736C0.895316 5.67603 0.895316 9.90603 3.49398 12.506C4.75332 13.7654 6.42798 14.4594 8.20865 14.4594C9.98932 14.4594 11.6633 13.766 12.922 12.5067C13.746 11.682 14.342 10.646 14.644 9.51269C14.7053 9.28269 14.6386 9.03736 14.4706 8.86936C14.3026 8.70069 14.0566 8.63403 13.828 8.69669ZM11.98 11.564C10.9726 12.5714 9.63332 13.126 8.20932 13.126C6.78465 13.126 5.44532 12.5707 4.43732 11.5634C2.35865 9.48403 2.35865 6.10003 4.43732 4.02069C4.83865 3.61936 5.30265 3.28603 5.81065 3.03203C5.66265 4.95536 6.35332 6.88003 7.73732 8.26403C9.11598 9.64336 11.022 10.344 12.9693 10.1914C12.7146 10.6974 12.3806 11.162 11.98 11.564Z" fill="#596C80"/></svg>
									<span>На 6 ночей ( 7 дней )</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 10.0001C14 6.91675 11.662 4.37275 8.66665 4.03941V2.66675H7.33331V4.03941C4.33798 4.37275 1.99998 6.91675 1.99998 10.0001V11.3334H14V10.0001ZM3.33331 10.0001C3.33331 7.42741 5.42731 5.33341 7.99998 5.33341C10.5726 5.33341 12.6666 7.42741 12.6666 10.0001H3.33331ZM1.33331 12.0001H14.6666V13.3334H1.33331V12.0001Z" fill="#596C80"/></svg>
									<span>Питание: Завтрак</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path=""><path d="M2.99998 5.70125C2.99998 7.03125 4.00331 8.03459 5.33331 8.03459C6.66331 8.03459 7.66665 7.03125 7.66665 5.70125C7.66665 4.37125 6.66331 3.36792 5.33331 3.36792C4.00331 3.36792 2.99998 4.37125 2.99998 5.70125ZM2.66665 12.6666H7.99998H8.66665H9.33331V11.9999C9.33331 10.1619 7.83798 8.66659 5.99998 8.66659H4.66665C2.82865 8.66659 1.33331 10.1619 1.33331 11.9999V12.6666H1.99998H2.66665Z" fill="#596C80" fill-opacity="0.63"/><path d="M7.79997 5.70125C7.79997 7.03125 8.8033 8.03459 10.1333 8.03459C11.4633 8.03459 12.4666 7.03125 12.4666 5.70125C12.4666 4.37125 11.4633 3.36792 10.1333 3.36792C8.8033 3.36792 7.79997 4.37125 7.79997 5.70125ZM7.46663 12.6666H12.8H13.4666H14.1333V11.9999C14.1333 10.1619 12.638 8.66659 10.8 8.66659H9.46663C7.62863 8.66659 6.1333 10.1619 6.1333 11.9999V12.6666H6.79997H7.46663Z" fill="#596C80"/></g><defs><clipPath id=""><rect width="16" height="16" fill="white"/></clipPath></defs></svg>
									<span>2 Туриста</span>
								</li>
							</ul>
							<button class="best-tours__item-button">
								Узнать цену на этот тур
							</button>
						</div>
					</div>
				</div>
				<div class="best-tours__slider-item">
					<div class="best-tours__item-wrap">
						<a class="best-tours__item-top">
							<img src="../../img/slider-2.jpg" alt="">
							<div class="best-tours__tags">
								<div class="best-tours__tags-item">🇩🇴 Доминикана</div>
							</div>
						</a>
						<div class="best-tours__item-bottom">
							<div class="best-tours__item-stars">
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
							</div>
							<a href="#" class="best-tours__item-title">
								Adalin Resort Hotel
							</a>
							<ul class="best-tours__item-list">
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00001 1.33325C5.05935 1.33325 2.66668 3.72592 2.66668 6.66325C2.64735 10.9599 7.79735 14.5226 8.00001 14.6666C8.00001 14.6666 13.3527 10.9599 13.3333 6.66659C13.3333 3.72592 10.9407 1.33325 8.00001 1.33325ZM8.00001 9.33325C6.52668 9.33325 5.33335 8.13992 5.33335 6.66659C5.33335 5.19325 6.52668 3.99992 8.00001 3.99992C9.47335 3.99992 10.6667 5.19325 10.6667 6.66659C10.6667 8.13992 9.47335 9.33325 8.00001 9.33325Z" fill="#596C80"/></svg>
									<span>Ланта, Тайланд</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.99998 12H14V13.3333H1.99998V12ZM14.3393 5.68467C14.152 5.122 13.5446 4.818 12.982 5.00533L9.99998 6L4.66665 4L3.33331 4.66667L7.33331 7.33333L4.66665 8.66667L1.99998 7.33333L1.33331 8L3.99998 10.6667L13.698 7.03C14.2386 6.82667 14.522 6.23333 14.3393 5.68467Z" fill="#596C80"/></svg>
									<span>Вылет 27 апреля 2021 из Москвы</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.828 8.69669C13.3766 8.81669 12.9106 8.87736 12.4433 8.87736C11.02 8.87736 9.68332 8.32403 8.67932 7.32003C7.34065 5.98136 6.81332 4.00869 7.30332 2.17136C7.36465 1.94136 7.29865 1.69603 7.13065 1.52803C6.96265 1.36003 6.71798 1.29203 6.48665 1.35603C5.35198 1.65936 4.31732 2.25469 3.49398 3.07736C0.895316 5.67603 0.895316 9.90603 3.49398 12.506C4.75332 13.7654 6.42798 14.4594 8.20865 14.4594C9.98932 14.4594 11.6633 13.766 12.922 12.5067C13.746 11.682 14.342 10.646 14.644 9.51269C14.7053 9.28269 14.6386 9.03736 14.4706 8.86936C14.3026 8.70069 14.0566 8.63403 13.828 8.69669ZM11.98 11.564C10.9726 12.5714 9.63332 13.126 8.20932 13.126C6.78465 13.126 5.44532 12.5707 4.43732 11.5634C2.35865 9.48403 2.35865 6.10003 4.43732 4.02069C4.83865 3.61936 5.30265 3.28603 5.81065 3.03203C5.66265 4.95536 6.35332 6.88003 7.73732 8.26403C9.11598 9.64336 11.022 10.344 12.9693 10.1914C12.7146 10.6974 12.3806 11.162 11.98 11.564Z" fill="#596C80"/></svg>
									<span>На 6 ночей ( 7 дней )</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 10.0001C14 6.91675 11.662 4.37275 8.66665 4.03941V2.66675H7.33331V4.03941C4.33798 4.37275 1.99998 6.91675 1.99998 10.0001V11.3334H14V10.0001ZM3.33331 10.0001C3.33331 7.42741 5.42731 5.33341 7.99998 5.33341C10.5726 5.33341 12.6666 7.42741 12.6666 10.0001H3.33331ZM1.33331 12.0001H14.6666V13.3334H1.33331V12.0001Z" fill="#596C80"/></svg>
									<span>Питание: Завтрак</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path=""><path d="M2.99998 5.70125C2.99998 7.03125 4.00331 8.03459 5.33331 8.03459C6.66331 8.03459 7.66665 7.03125 7.66665 5.70125C7.66665 4.37125 6.66331 3.36792 5.33331 3.36792C4.00331 3.36792 2.99998 4.37125 2.99998 5.70125ZM2.66665 12.6666H7.99998H8.66665H9.33331V11.9999C9.33331 10.1619 7.83798 8.66659 5.99998 8.66659H4.66665C2.82865 8.66659 1.33331 10.1619 1.33331 11.9999V12.6666H1.99998H2.66665Z" fill="#596C80" fill-opacity="0.63"/><path d="M7.79997 5.70125C7.79997 7.03125 8.8033 8.03459 10.1333 8.03459C11.4633 8.03459 12.4666 7.03125 12.4666 5.70125C12.4666 4.37125 11.4633 3.36792 10.1333 3.36792C8.8033 3.36792 7.79997 4.37125 7.79997 5.70125ZM7.46663 12.6666H12.8H13.4666H14.1333V11.9999C14.1333 10.1619 12.638 8.66659 10.8 8.66659H9.46663C7.62863 8.66659 6.1333 10.1619 6.1333 11.9999V12.6666H6.79997H7.46663Z" fill="#596C80"/></g><defs><clipPath id=""><rect width="16" height="16" fill="white"/></clipPath></defs></svg>
									<span>2 Туриста</span>
								</li>
							</ul>
							<button class="best-tours__item-button">
								Узнать цену на этот тур
							</button>
						</div>
					</div>
				</div>
				<div class="best-tours__slider-item">
					<div class="best-tours__item-wrap">
						<a class="best-tours__item-top">
							<img src="../../img/slider-1.jpg" alt="">
							<div class="best-tours__tags">
								<div class="best-tours__tags-item">🇩🇴 Доминикана</div>
							</div>
						</a>
						<div class="best-tours__item-bottom">
							<div class="best-tours__item-stars">
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
							</div>
							<a href="#" class="best-tours__item-title">
								Adalin Resort Hotel
							</a>
							<ul class="best-tours__item-list">
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00001 1.33325C5.05935 1.33325 2.66668 3.72592 2.66668 6.66325C2.64735 10.9599 7.79735 14.5226 8.00001 14.6666C8.00001 14.6666 13.3527 10.9599 13.3333 6.66659C13.3333 3.72592 10.9407 1.33325 8.00001 1.33325ZM8.00001 9.33325C6.52668 9.33325 5.33335 8.13992 5.33335 6.66659C5.33335 5.19325 6.52668 3.99992 8.00001 3.99992C9.47335 3.99992 10.6667 5.19325 10.6667 6.66659C10.6667 8.13992 9.47335 9.33325 8.00001 9.33325Z" fill="#596C80"/></svg>
									<span>Ланта, Тайланд</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.99998 12H14V13.3333H1.99998V12ZM14.3393 5.68467C14.152 5.122 13.5446 4.818 12.982 5.00533L9.99998 6L4.66665 4L3.33331 4.66667L7.33331 7.33333L4.66665 8.66667L1.99998 7.33333L1.33331 8L3.99998 10.6667L13.698 7.03C14.2386 6.82667 14.522 6.23333 14.3393 5.68467Z" fill="#596C80"/></svg>
									<span>Вылет 27 апреля 2021 из Москвы</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.828 8.69669C13.3766 8.81669 12.9106 8.87736 12.4433 8.87736C11.02 8.87736 9.68332 8.32403 8.67932 7.32003C7.34065 5.98136 6.81332 4.00869 7.30332 2.17136C7.36465 1.94136 7.29865 1.69603 7.13065 1.52803C6.96265 1.36003 6.71798 1.29203 6.48665 1.35603C5.35198 1.65936 4.31732 2.25469 3.49398 3.07736C0.895316 5.67603 0.895316 9.90603 3.49398 12.506C4.75332 13.7654 6.42798 14.4594 8.20865 14.4594C9.98932 14.4594 11.6633 13.766 12.922 12.5067C13.746 11.682 14.342 10.646 14.644 9.51269C14.7053 9.28269 14.6386 9.03736 14.4706 8.86936C14.3026 8.70069 14.0566 8.63403 13.828 8.69669ZM11.98 11.564C10.9726 12.5714 9.63332 13.126 8.20932 13.126C6.78465 13.126 5.44532 12.5707 4.43732 11.5634C2.35865 9.48403 2.35865 6.10003 4.43732 4.02069C4.83865 3.61936 5.30265 3.28603 5.81065 3.03203C5.66265 4.95536 6.35332 6.88003 7.73732 8.26403C9.11598 9.64336 11.022 10.344 12.9693 10.1914C12.7146 10.6974 12.3806 11.162 11.98 11.564Z" fill="#596C80"/></svg>
									<span>На 6 ночей ( 7 дней )</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 10.0001C14 6.91675 11.662 4.37275 8.66665 4.03941V2.66675H7.33331V4.03941C4.33798 4.37275 1.99998 6.91675 1.99998 10.0001V11.3334H14V10.0001ZM3.33331 10.0001C3.33331 7.42741 5.42731 5.33341 7.99998 5.33341C10.5726 5.33341 12.6666 7.42741 12.6666 10.0001H3.33331ZM1.33331 12.0001H14.6666V13.3334H1.33331V12.0001Z" fill="#596C80"/></svg>
									<span>Питание: Завтрак</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path=""><path d="M2.99998 5.70125C2.99998 7.03125 4.00331 8.03459 5.33331 8.03459C6.66331 8.03459 7.66665 7.03125 7.66665 5.70125C7.66665 4.37125 6.66331 3.36792 5.33331 3.36792C4.00331 3.36792 2.99998 4.37125 2.99998 5.70125ZM2.66665 12.6666H7.99998H8.66665H9.33331V11.9999C9.33331 10.1619 7.83798 8.66659 5.99998 8.66659H4.66665C2.82865 8.66659 1.33331 10.1619 1.33331 11.9999V12.6666H1.99998H2.66665Z" fill="#596C80" fill-opacity="0.63"/><path d="M7.79997 5.70125C7.79997 7.03125 8.8033 8.03459 10.1333 8.03459C11.4633 8.03459 12.4666 7.03125 12.4666 5.70125C12.4666 4.37125 11.4633 3.36792 10.1333 3.36792C8.8033 3.36792 7.79997 4.37125 7.79997 5.70125ZM7.46663 12.6666H12.8H13.4666H14.1333V11.9999C14.1333 10.1619 12.638 8.66659 10.8 8.66659H9.46663C7.62863 8.66659 6.1333 10.1619 6.1333 11.9999V12.6666H6.79997H7.46663Z" fill="#596C80"/></g><defs><clipPath id=""><rect width="16" height="16" fill="white"/></clipPath></defs></svg>
									<span>2 Туриста</span>
								</li>
							</ul>
							<button class="best-tours__item-button">
								Узнать цену на этот тур
							</button>
						</div>
					</div>
				</div>
				<div class="best-tours__slider-item">
					<div class="best-tours__item-wrap">
						<a class="best-tours__item-top">
							<img src="../../img/slider-2.jpg" alt="">
							<div class="best-tours__tags">
								<div class="best-tours__tags-item">🇩🇴 Доминикана</div>
							</div>
						</a>
						<div class="best-tours__item-bottom">
							<div class="best-tours__item-stars">
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
								<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.52447 0.463525C5.67415 0.00286925 6.32585 0.00286996 6.47553 0.463525L7.45934 3.49139C7.52628 3.6974 7.71826 3.83688 7.93487 3.83688H11.1186C11.6029 3.83688 11.8043 4.45669 11.4124 4.74139L8.83679 6.61271C8.66155 6.74003 8.58822 6.96572 8.65516 7.17173L9.63897 10.1996C9.78864 10.6602 9.2614 11.0433 8.86955 10.7586L6.29389 8.88729C6.11865 8.75997 5.88135 8.75997 5.70611 8.88729L3.13045 10.7586C2.73859 11.0433 2.21136 10.6602 2.36103 10.1996L3.34484 7.17173C3.41178 6.96572 3.33845 6.74003 3.16321 6.61271L0.587553 4.74139C0.195696 4.45669 0.397084 3.83688 0.881446 3.83688H4.06513C4.28174 3.83688 4.47372 3.6974 4.54066 3.49139L5.52447 0.463525Z" fill="#FFAE00"/></svg>
							</div>
							<a href="#" class="best-tours__item-title">
								Adalin Resort Hotel
							</a>
							<ul class="best-tours__item-list">
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00001 1.33325C5.05935 1.33325 2.66668 3.72592 2.66668 6.66325C2.64735 10.9599 7.79735 14.5226 8.00001 14.6666C8.00001 14.6666 13.3527 10.9599 13.3333 6.66659C13.3333 3.72592 10.9407 1.33325 8.00001 1.33325ZM8.00001 9.33325C6.52668 9.33325 5.33335 8.13992 5.33335 6.66659C5.33335 5.19325 6.52668 3.99992 8.00001 3.99992C9.47335 3.99992 10.6667 5.19325 10.6667 6.66659C10.6667 8.13992 9.47335 9.33325 8.00001 9.33325Z" fill="#596C80"/></svg>
									<span>Ланта, Тайланд</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.99998 12H14V13.3333H1.99998V12ZM14.3393 5.68467C14.152 5.122 13.5446 4.818 12.982 5.00533L9.99998 6L4.66665 4L3.33331 4.66667L7.33331 7.33333L4.66665 8.66667L1.99998 7.33333L1.33331 8L3.99998 10.6667L13.698 7.03C14.2386 6.82667 14.522 6.23333 14.3393 5.68467Z" fill="#596C80"/></svg>
									<span>Вылет 27 апреля 2021 из Москвы</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.828 8.69669C13.3766 8.81669 12.9106 8.87736 12.4433 8.87736C11.02 8.87736 9.68332 8.32403 8.67932 7.32003C7.34065 5.98136 6.81332 4.00869 7.30332 2.17136C7.36465 1.94136 7.29865 1.69603 7.13065 1.52803C6.96265 1.36003 6.71798 1.29203 6.48665 1.35603C5.35198 1.65936 4.31732 2.25469 3.49398 3.07736C0.895316 5.67603 0.895316 9.90603 3.49398 12.506C4.75332 13.7654 6.42798 14.4594 8.20865 14.4594C9.98932 14.4594 11.6633 13.766 12.922 12.5067C13.746 11.682 14.342 10.646 14.644 9.51269C14.7053 9.28269 14.6386 9.03736 14.4706 8.86936C14.3026 8.70069 14.0566 8.63403 13.828 8.69669ZM11.98 11.564C10.9726 12.5714 9.63332 13.126 8.20932 13.126C6.78465 13.126 5.44532 12.5707 4.43732 11.5634C2.35865 9.48403 2.35865 6.10003 4.43732 4.02069C4.83865 3.61936 5.30265 3.28603 5.81065 3.03203C5.66265 4.95536 6.35332 6.88003 7.73732 8.26403C9.11598 9.64336 11.022 10.344 12.9693 10.1914C12.7146 10.6974 12.3806 11.162 11.98 11.564Z" fill="#596C80"/></svg>
									<span>На 6 ночей ( 7 дней )</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 10.0001C14 6.91675 11.662 4.37275 8.66665 4.03941V2.66675H7.33331V4.03941C4.33798 4.37275 1.99998 6.91675 1.99998 10.0001V11.3334H14V10.0001ZM3.33331 10.0001C3.33331 7.42741 5.42731 5.33341 7.99998 5.33341C10.5726 5.33341 12.6666 7.42741 12.6666 10.0001H3.33331ZM1.33331 12.0001H14.6666V13.3334H1.33331V12.0001Z" fill="#596C80"/></svg>
									<span>Питание: Завтрак</span>
								</li>
								<li class="best-tours__item-prop">
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path=""><path d="M2.99998 5.70125C2.99998 7.03125 4.00331 8.03459 5.33331 8.03459C6.66331 8.03459 7.66665 7.03125 7.66665 5.70125C7.66665 4.37125 6.66331 3.36792 5.33331 3.36792C4.00331 3.36792 2.99998 4.37125 2.99998 5.70125ZM2.66665 12.6666H7.99998H8.66665H9.33331V11.9999C9.33331 10.1619 7.83798 8.66659 5.99998 8.66659H4.66665C2.82865 8.66659 1.33331 10.1619 1.33331 11.9999V12.6666H1.99998H2.66665Z" fill="#596C80" fill-opacity="0.63"/><path d="M7.79997 5.70125C7.79997 7.03125 8.8033 8.03459 10.1333 8.03459C11.4633 8.03459 12.4666 7.03125 12.4666 5.70125C12.4666 4.37125 11.4633 3.36792 10.1333 3.36792C8.8033 3.36792 7.79997 4.37125 7.79997 5.70125ZM7.46663 12.6666H12.8H13.4666H14.1333V11.9999C14.1333 10.1619 12.638 8.66659 10.8 8.66659H9.46663C7.62863 8.66659 6.1333 10.1619 6.1333 11.9999V12.6666H6.79997H7.46663Z" fill="#596C80"/></g><defs><clipPath id=""><rect width="16" height="16" fill="white"/></clipPath></defs></svg>
									<span>2 Туриста</span>
								</li>
							</ul>
							<button class="best-tours__item-button">
								Узнать цену на этот тур
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>