<section class="breadcrumbs">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				<span>Главная</span>
				<span>&rarr;</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				<span>Главная</span>
				<span>&rarr;</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				<span>Тур в Тайланд</span>
				<span>&rarr;</span>
			</a>
		</li>
	</ul>
</section>