<section class="choice">
	<div class="choice__main">
		<h2 class="choice__title title">
			Куда полететь? Какой бюджет? Со всеми вопросами вам поможет наш профессиональный подбор тура!
		</h2>
		<div class="choice__descr">
			Потратьте всего 1 минуту и получите подборку выгодных туров от наших экспертов. Заполните детально ваши данные для более гибкого подбора мест для путешествий.
		</div>
		<a href="#" class="choice__link g-link">
			<span>Получить подбор тура</span> <span>&rarr;</span>
		</a>
	</div>
</section>