<section class="countries">
	<div class="countries__main">
		<h2 class="countries__title title">
			Популярные направления для путешественников!
		</h2>
		<div class="countries__descr">
			Мы собрали для вас часто задаваемые вопросы и ответы. Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться.
		</div>
		<div class="countries__wrap">
			<div class="countries__row">
				<a href="" class="countries__item">
					🇷🇺 Россия
				</a>
				<a href="" class="countries__item">
					🇹🇷 Турция
				</a>
				<a href="" class="countries__item">
					🇦🇿 Абхазия
				</a>
				<a href="" class="countries__item">
					🇦🇿 Азербайджан
				</a>
				<a href="" class="countries__item">
					🇪🇸 Испания
				</a>
			</div>
			<div class="countries__row">
				<a href="" class="countries__item">
					🇹🇭 Тайланд
				</a>
				<a href="" class="countries__item">
					🇪🇬 Египет
				</a>
				<a href="" class="countries__item">
					🇲🇻 Мальдивы
				</a>
				<a href="" class="countries__item">
					🇮🇳 Индия
				</a>
				<a href="" class="countries__item">
					🇮🇹 Италия
				</a>
				<a href="" class="countries__item">
					🇰🇭 Камбоджа
				</a>
			</div>
			<div class="countries__row">
				<a href="" class="countries__item">
					🇦🇪 ОАЭ
				</a>
				<a href="" class="countries__item">
					🇰🇿 Казахстан
				</a>
				<a href="" class="countries__item">
					🇸🇨 Сейшелы
				</a>
				<a href="" class="countries__item">
					🇯🇵 Япония
				</a>
				<a href="" class="countries__item">
					🇸🇬 Сингапур
				</a>
				<a href="" class="countries__item">
					🇳🇵 Непал
				</a>
				<a href="" class="countries__item">
					🇳🇵 Непал
				</a>
			</div>
		</div>
	</div>
</section>