<section class="country-tour">
	<div class="country-tour__main">
		<h2 class="country-tour__title title">
			Выберите тур в NATURELLA
		</h2>
		<div class="country-tour__filter">
			<form action="" class="filter">
				<div class="filter__item filter__item--date">
					<label for="" class="filter__item-descr">
						<span class="filter__descr">Даты вылета</span>
						<input type="text" class="filter__item-input filter__item-input--date datepicker-here"
							data-range="true"
							data-multiple-dates-separator=" - "
							placeholder = "07.05.2021 - 14.05.2021"
						>
						<span class="filter__item-icon">
							<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-0.000976562 3.2V4.8V14.4C-0.000976562 15.2824 0.716623 16 1.59902 16H12.799C13.6814 16 14.399 15.2824 14.399 14.4V4.8V3.2C14.399 2.3176 13.6814 1.6 12.799 1.6H11.199V0H9.59902V1.6H4.79902V0H3.19902V1.6H1.59902C0.716623 1.6 -0.000976562 2.3176 -0.000976562 3.2ZM12.8006 14.4H1.59902V4.8H12.799L12.8006 14.4Z" fill="#303030"/></svg>
						</span>
					</label>
				</div>
				<div class="filter__item filter__item--nights">
					<label for="" class="filter__item-descr">
						<span class="filter__descr">Количество ночей</span>
						<div class="filter__item-nights">
							<div class="select select--nights">
								<div class="select__header">
									<div class="select__current">
										от 4 до 11
									</div>
									<svg class="select__icon" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.73455 7.20482C6.33863 7.63342 5.66137 7.63342 5.26545 7.20482L0.622375 2.17855C0.0307251 1.53807 0.484997 0.499999 1.35693 0.499999L10.6431 0.5C11.515 0.5 11.9693 1.53807 11.3776 2.17855L6.73455 7.20482Z" fill="#303030"/></svg>
								</div>
								<div class="select__body select__body--close">
									<div class="select__item">
										от 1 до 2
									</div>
									<div class="select__item">
										от 2 до 4
									</div>
									<div class="select__item">
										от 4 до 11
									</div>
									<div class="select__item">
										от 11 до 20
									</div>
									<div class="select__item">
										от 20 до 31
									</div>
									<div class="select__item">
										от 31
									</div>
								</div>
							</div>
						</div>
					</label>
				</div>
				<div class="filter__item filter__item--tourists">
					<label for="" class="filter__item-descr">
						<span class="filter__descr">Туристов</span>
						<div class="filter__item-tourists">
							<div class="select select--tourists">
								<div class="select__header">
									<div class="select__current">
										2 туриста
									</div>
									<svg class="select__icon" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.73455 7.20482C6.33863 7.63342 5.66137 7.63342 5.26545 7.20482L0.622375 2.17855C0.0307251 1.53807 0.484997 0.499999 1.35693 0.499999L10.6431 0.5C11.515 0.5 11.9693 1.53807 11.3776 2.17855L6.73455 7.20482Z" fill="#303030"/></svg>
								</div>
								<div class="select__body select__body--close">
									<div class="select__item">
										1 турист
									</div>
									<div class="select__item">
										2 туриста
									</div>
									<div class="select__item">
										3 туриста
									</div>
									<div class="select__item">
										4 туриста
									</div>
									<div class="select__item">
										5 туристов
									</div>
									<div class="select__item">
										больше
									</div>
								</div>
							</div>
						</div>
					</label>
				</div>
				<div class="filter__item filter__item--submit">
					<input type="submit" class="filter__item-submit" value="Найти предложения">
				</div>
			</form>
		</div>
	</div>
</section>