<div class="descr">
	<div class="descr__main">
		<div class="descr__stars">
				<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#FFAE00"/></svg>
				<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#FFAE00"/></svg>
				<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#FFAE00"/></svg>
				<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#FFAE00"/></svg>
				<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5245 0.463526C10.6741 0.00287056 11.3259 0.00287008 11.4755 0.463525L13.5819 6.9463C13.6488 7.15232 13.8408 7.2918 14.0574 7.2918H20.8738C21.3582 7.2918 21.5596 7.9116 21.1677 8.1963L15.6531 12.2029C15.4779 12.3302 15.4046 12.5559 15.4715 12.7619L17.5779 19.2447C17.7276 19.7053 17.2003 20.0884 16.8085 19.8037L11.2939 15.7971C11.1186 15.6698 10.8814 15.6698 10.7061 15.7971L5.19153 19.8037C4.79967 20.0884 4.27243 19.7053 4.42211 19.2447L6.52849 12.7619C6.59543 12.5559 6.5221 12.3302 6.34685 12.2029L0.832272 8.1963C0.440415 7.9116 0.641802 7.2918 1.12616 7.2918H7.94256C8.15917 7.2918 8.35115 7.15232 8.41809 6.9463L10.5245 0.463526Z" fill="#FFAE00"/></svg>
		</div>
		<div class="descr__content">
			<div class="descr__content-text">
				<h2 class="descr__title">
					Sura Hagia Sophia Hotel
				</h2>
				<div class="descr__about">
					«Sura Hagia Sophia Hotel» 5* расположен в городе Стамбул по адресу Divanyolu Cd. Alemdar Mh. Ticarethane Sk. 10 Sultanahmet. По мнению постояльцев, отель имеет рейтинг 8.2 из 10. Мы рады всем, поэтому у нас есть сервисы для гостей с ограниченными физическими возможностями. Для семейных гостей на территории отеля есть игровая площадка для детей. Если у вас есть важные дела и не с кем оставить детей, отель предоставит услуги няни. Для важных гостей отель предоставляет v.i.p. услуги. На территории отеля есть конференц-зал/банкетный зал.
				</div>
				<a href="#" class="descr__link">
					Читать далее
				</a>
			</div>
			<div class="descr__map">
				<div class="descr__title descr__title--map">
					Отель на карте
				</div>
				<div class="descr__map-main">
					<div class="descr__map-view" id="map"></div>
				</div>
			</div>
		</div>
		<div class="descr__view" id="advantages">
			<div class="descr__title">
				Обзор отеля
			</div>
			<div class="descr__view-list">
				<ul class="descr__view-column">
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Телевизор</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 6C15.537 6 18.837 7.353 21.293 9.809L22.707 8.395C19.874 5.561 16.071 4 12 4C7.92903 4.001 4.12603 5.561 1.29303 8.395L2.70703 9.809C5.16303 7.353 8.46303 6 12 6ZM17.671 14.307C14.597 11.233 9.40303 11.233 6.32903 14.307L7.74303 15.721C10.05 13.414 13.95 13.414 16.257 15.721L17.671 14.307Z" fill="#303030"/><path d="M20.437 11.2928C15.865 6.7188 8.13603 6.7188 3.56403 11.2928L4.97803 12.7068C8.78503 8.8998 15.216 8.8998 19.023 12.7068L20.437 11.2928Z" fill="#303030"/><path d="M12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20Z" fill="#303030"/></svg>
						<span>Wi-fi</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Фрукты</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Фен</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Открытый плавательный бассейн</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z" fill="#303030"/><path d="M12 10.9997C10 10.9997 10 10.3737 10 9.99972C10 9.51572 10.701 8.99972 12 8.99972C13.185 8.99972 13.386 9.63772 13.4 10.0177L14.4 9.99972H15.4C15.4 8.97372 14.734 7.53072 13 7.12072V6.01172H11V7.08472C9.029 7.41572 8 8.71172 8 9.99972C8 11.1197 8.52 12.9997 12 12.9997C14 12.9997 14 13.6757 14 13.9997C14 14.4147 13.38 14.9997 12 14.9997C10.159 14.9997 10.011 14.1427 10 13.9997H8C8 14.9177 8.661 16.5527 11 16.9197V17.9997H13V16.9147C14.971 16.5837 16 15.2877 16 13.9997C16 12.8797 15.48 10.9997 12 10.9997Z" fill="#303030"/></svg>
						<span>Массаж</span>
					</li>
				</ul>
				<ul class="descr__view-column">
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Кондиционирование воздуха</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 6C15.537 6 18.837 7.353 21.293 9.809L22.707 8.395C19.874 5.561 16.071 4 12 4C7.92903 4.001 4.12603 5.561 1.29303 8.395L2.70703 9.809C5.16303 7.353 8.46303 6 12 6ZM17.671 14.307C14.597 11.233 9.40303 11.233 6.32903 14.307L7.74303 15.721C10.05 13.414 13.95 13.414 16.257 15.721L17.671 14.307Z" fill="#303030"/><path d="M20.437 11.2928C15.865 6.7188 8.13603 6.7188 3.56403 11.2928L4.97803 12.7068C8.78503 8.8998 15.216 8.8998 19.023 12.7068L20.437 11.2928Z" fill="#303030"/><path d="M12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20Z" fill="#303030"/></svg>
						<span>Выделенные зоны для курения</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Семейные номера</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Сад</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Отопление</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z" fill="#303030"/><path d="M12 10.9997C10 10.9997 10 10.3737 10 9.99972C10 9.51572 10.701 8.99972 12 8.99972C13.185 8.99972 13.386 9.63772 13.4 10.0177L14.4 9.99972H15.4C15.4 8.97372 14.734 7.53072 13 7.12072V6.01172H11V7.08472C9.029 7.41572 8 8.71172 8 9.99972C8 11.1197 8.52 12.9997 12 12.9997C14 12.9997 14 13.6757 14 13.9997C14 14.4147 13.38 14.9997 12 14.9997C10.159 14.9997 10.011 14.1427 10 13.9997H8C8 14.9177 8.661 16.5527 11 16.9197V17.9997H13V16.9147C14.971 16.5837 16 15.2877 16 13.9997C16 12.8797 15.48 10.9997 12 10.9997Z" fill="#303030"/></svg>
						<span>Мини-маркет на территории</span>
					</li>
				</ul>
				<ul class="descr__view-column">
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Доставка прессы</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 6C15.537 6 18.837 7.353 21.293 9.809L22.707 8.395C19.874 5.561 16.071 4 12 4C7.92903 4.001 4.12603 5.561 1.29303 8.395L2.70703 9.809C5.16303 7.353 8.46303 6 12 6ZM17.671 14.307C14.597 11.233 9.40303 11.233 6.32903 14.307L7.74303 15.721C10.05 13.414 13.95 13.414 16.257 15.721L17.671 14.307Z" fill="#303030"/><path d="M20.437 11.2928C15.865 6.7188 8.13603 6.7188 3.56403 11.2928L4.97803 12.7068C8.78503 8.8998 15.216 8.8998 19.023 12.7068L20.437 11.2928Z" fill="#303030"/><path d="M12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20Z" fill="#303030"/></svg>
						<span>Курение запрещено</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Магазины в отеле</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Звукоизоляция номера</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.035 15.479C4.012 15.653 4 15.827 4 16C4 18.378 6.138 20.284 8.521 19.964C9.214 21.198 10.534 22 12 22C13.466 22 14.786 21.198 15.479 19.964C17.857 20.284 20 18.378 20 16C20 15.827 19.988 15.653 19.965 15.479C21.198 14.786 22 13.465 22 12C22 10.535 21.198 9.214 19.965 8.521C19.988 8.347 20 8.173 20 8C20 5.622 17.857 3.712 15.479 4.036C14.786 2.802 13.466 2 12 2C10.534 2 9.214 2.802 8.521 4.036C6.138 3.712 4 5.622 4 8C4 8.173 4.012 8.347 4.035 8.521C2.802 9.214 2 10.535 2 12C2 13.465 2.802 14.786 4.035 15.479ZM5.477 10.076L6.579 9.783L6.145 8.73C6.05 8.5 6 8.247 6 8C6 6.897 6.897 6 8 6C8.247 6 8.499 6.05 8.73 6.145L9.784 6.579L10.077 5.477C10.308 4.607 11.099 4 12 4C12.901 4 13.692 4.607 13.923 5.477L14.216 6.579L15.27 6.145C15.501 6.05 15.753 6 16 6C17.103 6 18 6.897 18 8C18 8.247 17.95 8.5 17.855 8.73L17.421 9.783L18.523 10.076C19.393 10.308 20 11.099 20 12C20 12.901 19.393 13.692 18.523 13.924L17.421 14.217L17.855 15.27C17.95 15.5 18 15.753 18 16C18 17.103 17.103 18 16 18C15.753 18 15.501 17.95 15.27 17.855L14.216 17.421L13.923 18.523C13.692 19.393 12.901 20 12 20C11.099 20 10.308 19.393 10.077 18.523L9.784 17.421L8.73 17.855C8.499 17.95 8.247 18 8 18C6.897 18 6 17.103 6 16C6 15.753 6.05 15.5 6.145 15.27L6.579 14.217L5.477 13.924C4.607 13.692 4 12.901 4 12C4 11.099 4.607 10.308 5.477 10.076Z" fill="#303030"/><path d="M15.742 10.71L14.334 9.29004L11.003 12.589L9.70703 11.293L8.29303 12.707L10.997 15.411L15.742 10.71Z" fill="#303030"/></svg>
						<span>Терраса для загара</span>
					</li>
					<li class="descr__view-item">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12C2 17.514 6.486 22 12 22C17.514 22 22 17.514 22 12C22 6.486 17.514 2 12 2ZM12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12C20 16.411 16.411 20 12 20Z" fill="#303030"/><path d="M12 10.9997C10 10.9997 10 10.3737 10 9.99972C10 9.51572 10.701 8.99972 12 8.99972C13.185 8.99972 13.386 9.63772 13.4 10.0177L14.4 9.99972H15.4C15.4 8.97372 14.734 7.53072 13 7.12072V6.01172H11V7.08472C9.029 7.41572 8 8.71172 8 9.99972C8 11.1197 8.52 12.9997 12 12.9997C14 12.9997 14 13.6757 14 13.9997C14 14.4147 13.38 14.9997 12 14.9997C10.159 14.9997 10.011 14.1427 10 13.9997H8C8 14.9177 8.661 16.5527 11 16.9197V17.9997H13V16.9147C14.971 16.5837 16 15.2877 16 13.9997C16 12.8797 15.48 10.9997 12 10.9997Z" fill="#303030"/></svg>
						<span>Терраса</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="descr__feedback" id="review">
			<div class="descr__title">
				Отзывы об отеле
			</div>
			<div class="descr__feedback-message">
				<div class="descr__feedback-user">
					<div class="descr__feedback-point">
						9.78
					</div>
					<div class="descr__feedback-avatar">
						<img src="img/user-1.png" alt="">
					</div>
					<div class="descr__feedback-user-name">
						Владимир Пожидаев
					</div>
				</div>
				<div class="descr__feedback-text">
					<div class="descr__feedback-date">
						добавлен: 16.06.2020
					</div>
					<div class="descr__feedback-main">
						В условиях непростой ситуации в мире с объявленной пандемией я все же решила не проводить свой отпуск среди серых домашних стен, а в октябре 2020 г. купила билет в Барселону, чтобы отдохнуть от трудовых будней и насладиться красочными городскими пейзажами. Я понимала изначально, что никаких экскурсий для туристов не предвидится, но это мне ничуть не помешало познакомиться с достопримечательностями испанской столицы.
					</div>
					<a href="#" class="descr__feedback-more">
						Читать далее →
					</a>
				</div>
			</div>
			<div class="descr__feedback-message">
				<div class="descr__feedback-user">
					<div class="descr__feedback-point descr__feedback-point--yellow">
						4.00
					</div>
					<div class="descr__feedback-avatar">
						<img src="img/user-2.png" alt="">
					</div>
					<div class="descr__feedback-user-name">
						Людмила
					</div>
				</div>
				<div class="descr__feedback-text">
					<div class="descr__feedback-date">
						добавлен: 16.06.2020
					</div>
					<div class="descr__feedback-main">
						Отдыхала в период с 08.07.2019 – 31.07.2019ЗАСЕЛЕНИЕПриехала в отель примерно в 14:00, сразу же сказали, что номеров свободных нет, и на одну ночь меня поселят в соседний отель. Это оказался Castello Hotel, минут 3 идти до соседней улицы. Я знаю, что в Турции это обычная практика, поэтому не расстроилась. Как ни странно, хотя соседний отель визуально был не примечательный, но номер в н...
					</div>
					<a href="#" class="descr__feedback-more">
						Читать далее →
					</a>
				</div>
			</div>
		</div>
	</div>
</div>