<section class="faq">
	<div class="faq__main">
		<h2 class="faq__title">
			Часто задаваемые вопросы и ответы
		</h2>
		<div class="faq__descr">
			Мы собрали для вас часто задаваемые вопросы и ответы. Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться.
		</div>
		<div class="faq__wrap">
			<div class="faq__wrap-item">
				<div class="faq__wrap-question">
					<span>
						Мне не пришёл билет. Что делать?
					</span>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</div>
				<div class="faq__wrap-answer">
					Мы собрали для вас часто задаваемые вопросы и ответы. Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться.
				</div>
			</div>
			<div class="faq__wrap-item">
				<div class="faq__wrap-question">
					<span>
						Купить тур в рассрочку?
					</span>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</div>
				<div class="faq__wrap-answer">
					Мы собрали для вас часто задаваемые вопросы и ответы. Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться.
				</div>
			</div>
			<div class="faq__wrap-item">
				<div class="faq__wrap-question">
					<span>
						Как оформить визу?
					</span>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</div>
				<div class="faq__wrap-answer">
					Мы собрали для вас часто задаваемые вопросы и ответы. Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться.
				</div>
			</div>
			<div class="faq__wrap-item">
				<div class="faq__wrap-question">
					<span>
						Туры в рассрочку
					</span>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 9L12 14" stroke="#303030" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
				</div>
				<div class="faq__wrap-answer">
					Мы собрали для вас часто задаваемые вопросы и ответы. Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться.
				</div>
			</div>
		</div>
	</div>
</section>