<footer class="footer">
	<div class="footer__wrap">
		<div class="footer__contacts">
			<div class="footer__logo">
				<img src="../../img/footer-logo.svg" alt="">
			</div>
			<a href="tel:88001003024" class="footer__phone">
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.4869 14.1399L13.4219 10.4439C13.0229 10.0809 12.4069 10.0999 12.0309 10.4869L9.63792 12.9479C9.06192 12.8379 7.90392 12.4769 6.71192 11.2879C5.51992 10.0949 5.15892 8.93388 5.05192 8.36188L7.51092 5.96788C7.89892 5.59188 7.91692 4.97688 7.55392 4.57688L3.85892 0.512877C3.49592 0.111877 2.87892 0.0738771 2.46792 0.425877L0.297916 2.28688C0.124916 2.46088 0.0219158 2.69088 0.00791575 2.93588C-0.00708425 3.18588 -0.293084 9.10788 4.29892 13.7019C8.30492 17.7069 13.3229 17.9999 14.7049 17.9999C14.9069 17.9999 15.0309 17.9939 15.0639 17.9919C15.3089 17.9779 15.5389 17.8749 15.7119 17.7009L17.5719 15.5299C17.9259 15.1189 17.8869 14.5029 17.4869 14.1399Z" fill="#303030"/></svg>
				<span class="footer__phone-number">
					8-800-100-30-24
				</span>
			</a>
			<div class="footer__social">
				<a href="#">
					<img src="../../img/fb.svg" alt="">
				</a>
				<a href="#">
					<img src="../../img/vk.svg" alt="">
				</a>
				<a href="#">
					<img src="../../img/ig.svg" alt="">

				</a>
				<a href="#">
					<img src="../../img/wa.svg" alt="">

				</a>
			</div>
			<a href="mailto:mail@aborigen.ru" class="footer__mail">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 4H6C4.897 4 4 4.897 4 6V11H6V8L12.4 12.8C12.578 12.933 12.789 13 13 13C13.211 13 13.422 12.933 13.6 12.8L20 8V17H12V19H20C21.103 19 22 18.103 22 17V6C22 4.897 21.103 4 20 4ZM13 10.75L6.666 6H19.334L13 10.75Z" fill="#303030"/><path d="M2 12H9V14H2V12ZM4 15H10V17H4V15ZM7 18H11V20H7V18Z" fill="#303030"/></svg>
				<span>
					mail@aborigen.ru
				</span>
			</a>
		</div>
		<div class="footer__menu">
			<div class="footer__nav">
				<div class="footer__nav-head">
					Туры
				</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a href="#">
							Заказать подбор тура
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Горящие туры
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Туры по странам
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Отдых в России
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav">
				<div class="footer__nav-head">
					Сервисы
				</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a href="#">
							Авиабилеты онлайн
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Акции турагентств
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Поиск попутчика
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav">
				<div class="footer__nav-head">
					Поиск попутчика
				</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a href="#">
							Реклама на сайте
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Техническая поддержка
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Улучшить сайт
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Зарегистрировать турагентство
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Пользовательское соглашение
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Политика конфиденциальности
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav">
				<div class="footer__nav-head">
					Полезное
				</div>
				<ul class="footer__list">
					<li class="footer__list-item">
						<a href="#">
							О проекте
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Контакты
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Как оформить визу
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Статьи для туриста
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Отзывы туристов
						</a>
					</li>
					<li class="footer__list-item">
						<a href="#">
							Где получить кредит
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		© «Aborigen Travel» 2008-2021. Все материалы можно использовать со ссылкой на первоисточник.
	</div>
</footer>