<section class="glossary">
	<div class="glossary__wrap">
		<h2 class="glossary__title title">
			Энциклопедия туриста
		</h2>
		<h3 class="glossary__subtitle">
			Важно знать: документы туриста, советы и рекомендации
		</h3>
		<a href="#" class="glossary__link">
			Все виды отдыха &rarr;
		</a>
		<div class="glossary__small-items">
			<div class="glossary__small-item" style="background-color: #004FAC;">
				<span>Интересные факты стран? &rarr;</span>
				<img src="img/pizza.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #7F33AD;">
				<span>Документы туриста &rarr;</span>
				<img src="img/bank.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #989FED;">
				<span>Здоровье и безопасность &rarr;</span>
				<img src="img/small-like.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #22ABD0;">
				<span>Основные термины и понятия &rarr;</span>
				<img src="img/magni.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #2DA865;">
				<span>Самые опасные страны мира &rarr;</span>
				<img src="img/fire.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #FF8F85;">
				<span>Советы специалиста &rarr;</span>
				<img src="img/exch.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #6BD2FB;">
				<span>Полезные статьи туристу &rarr;</span>
				<img src="img/books.png" alt="">
			</div>
			<div class="glossary__small-item" style="background-color: #FF9C54;">
				<span>Советы туристам &rarr;</span>
				<img src="img/perspect.png" alt="">
			</div>
		</div>
		<h3 class="glossary__subtitle">
			Важно знать: документы туриста, советы и рекомендации
		</h3>
		<div class="glossary__items">
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-1.png');">
				<span>
					Интересное о странах &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-2.png');">
				<span>
					Развлечения? &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-3.png');">
				<span>
					Где отдохнуть? &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-4.png');">
				<span>
					Дешевый отдых &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-5.png');">
				<span>
					Шопинг &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-6.png');">
				<span>
					Кухня &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-7.png');">
				<span>
					Подготовка к путешестию? &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-8.png');">
				<span>
					Отдых в России &rarr;
				</span>
			</div>
		</div>
		<h3 class="glossary__subtitle">
			Виды отдыха
		</h3>
		<div class="glossary__items">
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-1.png');">
				<span>
					Интересное о странах &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-2.png');">
				<span>
					Развлечения? &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-3.png');">
				<span>
					Где отдохнуть? &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-4.png');">
				<span>
					Дешевый отдых &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-5.png');">
				<span>
					Шопинг &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-6.png');">
				<span>
					Кухня &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-7.png');">
				<span>
					Подготовка к путешестию? &rarr;
				</span>
			</div>
			<div class="glossary__item" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.88) -26.81%, rgba(29, 29, 29, 0) 58.51%), url('img/glos-8.png');">
				<span>
					Отдых в России &rarr;
				</span>
			</div>
		</div>
	</div>
</section>