<section class="guide">
	<div class="guide__main">
		<h2 class="guide__title title">
			Краткий путеводитель по Таиланду
		</h2>
		<div class="guide__descr">
			Таиланд считается самой посещаемой страной Юго-Восточной Азии, и это неудивительно: теплая погода, цветущее буйство растений, обилие свежих фруктов и ласковое море доступны здесь в течение всего года.
		</div>
		<div class="guide__wrap">
			<div class="guide__wrap-item">🇹🇭 Язык:  Тайский</div>
			<div class="guide__wrap-item">💰 Валюта: Бат</div>
			<div class="guide__wrap-item">🏢 Столица: Бангкок</div>
			<div class="guide__wrap-item">📁 Виза: не нужна</div>
			<div class="guide__wrap-item">🕔 Часовой пояс:  UTC+7 (+4ч к мск)</div>
			<div class="guide__wrap-item">⛈ Сезон дождей:  июнь-август</div>
		</div>
	</div>
</section>