<section class="hotels">
	<div class="hotels__main">
		<h2 class="hotels__title title">
			Отели Тайланда
		</h2>
		<div class="hotels__descr">
			Таиланд считается самой посещаемой страной Юго-Восточной Азии, и это неудивительно: теплая погода, цветущее буйство растений, обилие свежих фруктов и ласковое море доступны здесь в течение всего года.
		</div>
	</div>
</section>