<div class="new-feedback">
	<div class="new-feedback__title">
		Желаете описать свои впечатления от путешествия?
	</div>
	<button class="new-feedback__button">
		Подписаться
	</button>
	<div class="new-feedback__descr">
		А если хотите подобрать выгодный тур, то просто оставьте заявку здесь.
	</div>
</div>