<section class="popular">
	<div class="popular__main">
		<h2 class="popular__title title">
			Популярные направления из Москвы - Весна 2021
		</h2>
		<div class="popular__descr">
			Чтобы купить тур онлайн, понадобится 5-10 минут времени, хорошее настроение и сайт Aborigen Travel. Забудьте об утомительных поездках в офис, теперь бронирование доступно с любой точки мира. Настоящая свобода путешествовать!
		</div>
		<a href="#" class="popular__link g-link">
			<span>Смотреть все направления</span> <span>&rarr;</span>
		</a>
		<div class="popular__wrap">
		<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			<span class="progress-fill"></span>
		</div>
			<div class="popular__slider slider">
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/dominikana.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$500</span></div>
							</div>
							<div class="popular__slider-title">
								🇩🇴 Доминикана
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Санто-Доминго
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Пунто-Кана
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Бока-Чика
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/maldives.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$900</span></div>
							</div>
							<div class="popular__slider-title">
								🇲🇻 Мальдивы
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Южный Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Сиину (Адду)
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/dominikana.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$500</span></div>
							</div>
							<div class="popular__slider-title">
								🇩🇴 Доминикана
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Санто-Доминго
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Пунто-Кана
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Бока-Чика
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/maldives.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$900</span></div>
							</div>
							<div class="popular__slider-title">
								🇲🇻 Мальдивы
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Южный Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Сиину (Адду)
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/dominikana.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$500</span></div>
							</div>
							<div class="popular__slider-title">
								🇩🇴 Доминикана
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Санто-Доминго
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Пунто-Кана
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Бока-Чика
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/maldives.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$900</span></div>
							</div>
							<div class="popular__slider-title">
								🇲🇻 Мальдивы
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Южный Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Сиину (Адду)
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/dominikana.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$500</span></div>
							</div>
							<div class="popular__slider-title">
								🇩🇴 Доминикана
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Санто-Доминго
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Пунто-Кана
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Бока-Чика
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popular__slider-item">
					<div class="popular__item-wrap">
						<div class="popular__item-top">
							<img src="../../img/maldives.jpg" alt="">
							<div class="popular__tags">
								<div class="popular__tags-item">Виза</div>
								<div class="popular__tags-item">От <span>$900</span></div>
							</div>
							<div class="popular__slider-title">
								🇲🇻 Мальдивы
							</div>
						</div>
						<div class="popular__item-bottom">
							<div class="popular__cities">
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Южный Мале
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
								<div class="popular__cities-item">
									<div class="popular__cities-left">
										Сиину (Адду)
									</div>
									<div class="popular__cities-right">
										Узнать цены
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>