<section class="similar">
	<div class="similar__main">
		<h2 class="similar__title title">
			Отели с высоким рейтингом в Тайланде
		</h2>
		<div class="similar__wrap">
			<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				<span class="progress-fill"></span>
			</div>
			<div class="similar__slider slider">
				<div class="similar__slider-item slide">
					<a href="#" class="similar__item-wrap">
						<div class="similar__item-left">
							<img src="img/similar-1.png" alt="">
						</div>
						<div class="similar__item-right">
							<div class="similar__item-title">
								Оформление загранпаспорта
							</div>
							<div class="similar__item-descr">
								Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если реч
							</div>
						</div>
					</a>
				</div>
				<div class="similar__slider-item slide">
					<a href="#" class="similar__item-wrap">
						<div class="similar__item-left">
							<img src="img/similar-2.png" alt="">
						</div>
						<div class="similar__item-right">
							<div class="similar__item-title">
								Оформление загранпаспорта
							</div>
							<div class="similar__item-descr">
								Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если реч
							</div>
						</div>
					</a>
				</div>
				<div class="similar__slider-item slide">
					<a href="#" class="similar__item-wrap">
						<div class="similar__item-left">
							<img src="img/similar-1.png" alt="">
						</div>
						<div class="similar__item-right">
							<div class="similar__item-title">
								Оформление загранпаспорта
							</div>
							<div class="similar__item-descr">
								Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если реч
							</div>
						</div>
					</a>
				</div>
				<div class="similar__slider-item slide">
					<a href="#" class="similar__item-wrap">
						<div class="similar__item-left">
							<img src="img/similar-2.png" alt="">
						</div>
						<div class="similar__item-right">
							<div class="similar__item-title">
								Оформление загранпаспорта
							</div>
							<div class="similar__item-descr">
								Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если реч
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>