<section class="subscribe">
	<div class="subscribe__main">
		<div class="subscribe__logo">
			<img src="../../img/subscribe-logo.svg" alt="">
		</div>
		<h3 class="subscribe__title">
			Поймай горящий тур 🔥
		</h3>
		<div class="subscribe__descr">
			Подпишись на нашу рассылку и первым получай туры по выгодным ценам
		</div>
		<form action="" class="subscribe__form">
			<input type="text" class="subscribe__input" placeholder="+7 (999)-999-99-99">
			<label for="" class="subscribe__label">
				<input type="submit" class="subscribe__submit" value="Полетели!">
			</label>
		</form>
		<div class="subscribe__descr">
			Оставьте ваш телефон и наш менеджер свяжется с вами в ближайшее время
		</div>
	</div>
</section>