<section class="visual">
	<div class="visual__wrap">
		<div class="visual__left">
			<div class="visual__left-item">
				{% include "../blocks/best-tour.twig" %}
			</div>
			<div class="visual__left-item">
				{% include "../blocks/vk-subscribe.twig" %}
			</div>
			<div class="visual__left-item">
				{% include "../blocks/new-feedback.twig" %}
			</div>
		</div>
		<div class="visual__right">
			<h2 class="visual__title title">
				Туры в рассрочку, кредит в Москве
			</h2>
			<div class="visual__text-wrap">
				<div class="visual__text">
					<h3>
						Туры в рассрочку
					</h3>
					<p>
						Многие люди предпочитают проводить отпуск или праздники, отправляясь в путешествие за границу. Однако туризм – это достаточно дорогое удовольствие, особенно если речь идет о комфортных поездках, в которых можно ни о чем не думать и просто расслабиться. Из-за высоких цен многие люди вынуждены выбирать более экономные, простые туры, или вообще отказываться от туристических поездок. Однако отправиться в путешествие можно и при ограниченных финансах – достаточно приобрести тур в рассрочку.
					</p>
					<p>
						Приобретение тура в рассрочку – это практически то же самое, что покупка в рассрочку каких-либо предметов, например, техники. Принцип рассрочки прост и известен всем в современном мире – вы получаете товар или услугу сразу же, а платите за нее постепенно, отдавая сумму по частям. В случае с туром вы просто сразу же отправляетесь в путешествие – и после возвращения понемногу выплачиваете сумму вашего отдыха.
					</p>
					<p>
						Преимущество туров в рассрочку:
					</p>
					<p>
						Вам не нужно откладывать деньги на отдых длительное время; <br>
						Вы можете выбрать более дорогой комфортный тур, не слишком беспокоясь о его стоимости; <br>
						Если у вас ограниченные финансы, то вы можете выбрать практически любое туристическое направление, а не только самые дешевые страны; <br>
						Вы сможете взять с собой в поездку больше денег на сувениры и другие расходы. <br>
						Условия рассрочки на туры
					</p>
					<p>
						Говорить об условиях рассрочки на туры однозначно нельзя – они будут отличаться в зависимости от того, к какой туристической фирме вы обратитесь и через какой банк она предоставляет эту услугу.
					</p>
					<p>
						А вот требования к тому, кто берет тур в рассрочку, как правило, стандартные:
					</p>
					<p>
						<ul>
							<li>Гражданство Российской Федерации;</li>
							<li>Возраст от 20 до 66 лет;</li>
							<li>Постоянная регистрация в том регионе, где вы берете тур в рассрочку;</li>
							<li>Постоянная работа и такой доход, который позволит вам выплачивать кредит;</li>
							<li>Эти условия, как правило, обязательны, но к ним могут добавляться дополнительные требования, так что все - необходимо уточнять в том месте, где вы приобретаете тур.</li>
						</ul>
					</p>
					<h3>
						Страны, в которые граждане России могут въехать без виз:
					</h3>
					<table>
						<tr>
							<th>Страна</th>
							<th>Условия въезда</th>
						</tr>
						<tr>
							<td>Абхазия</td>
							<td>До 90 дней, не требуется даже загранпаспорт</td>
						</tr>
						<tr>
							<td>Азербайджан	</td>
							<td>До 90 дней</td>
						</tr>
						<tr>
							<td>Багамы</td>
							<td>До 90 дней</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>